<div id="mainWrapper" class="interior">
  <div class="container subNavFtr">
    <div class="interiorBkg">
      <%= render 'nav/primary' %>
      <div class="intro bkgTagger">
        <h2>Request Password Reset</h2>
      </div>
    </div>
    <div id="bkgSubNav">
      <div class="contentWrapper">
        <!--subnav-->

        <%= render 'nav/signin' %>

        <div id="mainCol" class="">
          <div id="flash_messages"></div>
          <%= form_tag(users_request_reset_path, :class => 'styled', :remote => true) do %>
            <div class="col1-1">
              <div class="pod">
                <div class="podHdr"></div>
                <div class="contentWrapper symbolFish">
                  <div class="unit">
                    <div id="flash_messages"></div>
                    <div class="singleField">
                      <label for="Email">Email</label>
                      <%= email_field_tag :email, nil, { :autofocus => true , :class => 'styledInput'}  %>
                      <!--<input type="text" name="Name" id="Name" class="styledInput" />-->
                    </div>

                    <div style="padding-left: 27px; padding-top: 10px; padding-bottom: 15px">
                        <%= recaptcha_tags %>
                    </div>

                    <div class="singleField">
                      <%= submit_tag 'Submit', :class => 'btnSmall indent singleCol' %>
                      <!--<a href="#" class="btnSmall indent singleCol">Submit</a>-->
                    </div>
                  </div>
                </div>
                <div class="podFtr"></div>
              </div>
            </div>
          <% end %>
        </div><!--END: mainCol-->
      </div><!--END: contentWrapper-->
    </div><!--END: bkgSubNav-->
  </div><!--END: container-->
</div><!--END: mainWrapper-->
