<div id="mainWrapper" class="interior">
  <div class="container subNavFtr">
    <div class="interiorBkg">
      <%= render 'nav/primary' %>
      <div class="intro bkgTagger">
        <h2>Login</h2>
        <%= @blurb.html_safe %>
      </div>
    </div>
    <div id="bkgSubNav">
      <div class="contentWrapper">
        <!--subnav-->

        <%= render 'nav/signin' %>

        <div id="mainCol" class="">
          <% if flash[:error] %>
            <div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert">&times;</button><%= flash[:error] %></div>
          <% end %>
          <!--<div class="head">
            <h3>Login</h3>
          </div>-->
          <!--<form id="login" name="login" method="post" action="" class="styled">-->
          <%= form_tag({:action => 'create'}, :class => 'styled') do %>
            <div class="col1-1">
              <div class="pod">
                <div class="podHdr"></div>
                <div class="contentWrapper symbolFish">
                  <div class="unit">
                    <div id="flash_messages"></div>
                    <div class="singleField">
                      <label for="Email">Email</label>
                      <%= email_field_tag :email, nil, { :autofocus => true , :class => 'styledInput'}  %>
                      <!--<input type="text" name="Name" id="Name" class="styledInput" />-->
                    </div>
                    <div class="singleField">
                      <label for="Email">Password</label>
                      <%= password_field_tag :password , nil,  :class => 'styledInput' %>
                      <!--<input type="text" name="Email" id="Email" class="styledInput" />-->
                    </div>
                    <div class="singleField">
                      <%= submit_tag 'Sign in', :class => 'btnSmall indent singleCol signup' %>
                      <!--<a href="#" class="btnSmall indent singleCol">Submit</a>-->
                    </div>
                  </div>
                  <div class="unit noDivider">
                    <div class="singleField indent link-color">
                      <div> <%= link_to "Sign Up", new_sign_up_path, :class => 'btnSmall singleCol signup' %> </div>
                      <br/>
                      <div> <%= link_to "Forgot password?", users_help_path, :class => 'btnSmall singleCol signup' %> </div>
                      <!--<p class="bold"><a href="#">Having trouble logging in? <br />-->
                      <!--Let us help you &raquo;</a></p>-->
                    </div>
                  </div>
                </div>
                <div class="podFtr"></div>
              </div>
            </div>
            <!--END: col1-1-->
          <% end %>
          <!--</form>-->
        </div><!--END: mainCol-->
      </div><!--END: contentWrapper-->
    </div><!--END: bkgSubNav-->
  </div><!--END: container-->
</div><!--END: mainWrapper-->