$('#flash_messages').empty();

<% if flash[:notice] %>
    $('form').empty();
    $('#flash_messages').append('<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert">&times;</button><%= escape_javascript(flash[:notice].html_safe)  %></div>');
<% end %>

<% if flash[:error] %>
    $('#flash_messages').append('<div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert">&times;</button><%= escape_javascript(flash[:error].html_safe)  %></div>');
    grecaptcha.reset();
<% end %>
