<% content_for :head do %>
    <%= javascript_include_tag 'reset_password' %>
<% end %>

<div id="mainWrapper" class="interior">
  <div class="container subNavFtr">
    <div class="interiorBkg">
      <%= render 'nav/primary' %>
      <div class="intro bkgTagger">
        <h2>Change your password</h2>
        <%#= @blurb.html_safe %>
      </div>
    </div>
    <div id="bkgSubNav">
      <div class="contentWrapper">
        <!--subnav-->

        <%= render 'nav/signin' %>

        <div id="mainCol" class="">
          <div id="flash_messages">
          <% if flash[:error] %>
            <div class="alert"><%= flash[:error] %></div>
          <% end %>
        </div>
          <!--<div class="head">
            <h3>Login</h3>
          </div>-->
          <!--<form id="login" name="login" method="post" action="" class="styled">-->

          <%= form_tag(users_send_reset_request_path, :id => 'passwordResetForm',:remote => true) do %>
            <%= hidden_field_tag :reset_password_token, @token %>

            <div><%= label_tag :password, "New password" %><br />
              <%= password_field_tag :password, nil, :class => 'styledInput password validate[required,equals[password],minSize[8]]' %></div>

            <div><%= label_tag :password_confirmation, "Confirm new password" %><br />
              <%= password_field_tag :password_confirmation, nil, :class => 'styledInput password validate[required,equals[password]]' %></div>

            <div><%= submit_tag "Change my password" %></div>
          <% end %>
          <!--</form>-->
        </div><!--END: mainCol-->
      </div><!--END: contentWrapper-->
    </div><!--END: bkgSubNav-->
  </div><!--END: container-->
</div><!--END: mainWrapper-->