<div id="mainWrapper" class="interior">
  <div class="container subNavFtr">
    <div class="interiorBkg">
      <%= render 'nav/primary_sign_up' %>
      <div class="intro bkgStart">
        <!--<h2>Sign Up To Be a Tagger</h2>-->
        <%= @blurb.html_safe %>
      </div>
    </div>
    <div id="bkgSubNav">
      <div class="contentWrapper">
        <%#= render 'nav/signup' %>
        <div id="mainCol" class="">
          <!--<div class="head">
            <h3>Login</h3>
          </div>-->
          <div id="flash_messages">

          </div>
          <%= form_tag({:action => 'create'}, :class => 'styled', :remote => true ) do %>
              <!--<form id="login" name="login" method="post" action="" class="styled">-->
              <div class="col1-2">
                <div class="pod">
                  <div class="podHdr"></div>
                  <div class="contentWrapper symbolFdbck">
                    <div class="unit">
                      <h3>Personal Information</h3>

                      <div class="singleField">
                        <label for="firstName1">First Name</label>
                        <%= text_field_tag :first_name, nil, :class => 'styledInput validate[required]' %>
                        <!--<input type="text" name="firstName" id="firstName" class="styledInput"/>-->
                      </div>
                      <div class="singleField">
                        <label for="lastName">Last Name</label>
                        <%= text_field_tag :last_name, nil, :class => 'styledInput validate[required]' %>
                      </div>
                      <div class="singleField">
                        <label for="address">Address</label>
                        <%= text_field_tag :street, nil, :class => 'styledInput validate[required]' %>
                        <!--<input type="text" name="address" id="address" class="styledInput"/>-->
                      </div>
                      <div class="singleField">
                        <label for="address2">Apt./Suite</label>
                        <%= text_field_tag :suite, nil, :class => 'styledInput' %>
                        <!--<input type="text" name="address2" id="address2" class="styledInput"/>-->
                      </div>
                      <div class="singleField">
                        <label for="city">City</label>
                        <%= text_field_tag :city, nil, :class => 'styledInput validate[required]' %>
                        <!--<input type="text" name="city" id="city" class="styledInput"/>-->
                      </div>
                      <div class="singleField">
                        <label for="state">State</label>
                        <%= select_tag :state, options_for_select(us_states), :class => 'styledInput validate[required]' %>
                        <!--<select size="1" name="state" maxlength="20" title="Your STATE" id="state" class="styledInput">-->
                        <!--<option value="" selected="selected"></option>-->
                        <!--<cfinclude template="includes/states.cfm">-->
                        <!--</select>-->
                      </div>
                      <div class="singleField">
                        <label for="zip">Zip Code</label>
                        <%= text_field_tag :zip, nil, :class => 'styledInput zip validate[required]' %>
                        <!--<input type="text" name="zip" id="zip" class="styledInput"/>-->
                      </div>
                    </div>
                    <div class="unit">
                      <div class="singleField">
                        <label for="phoneHome">Home<br/>
                          Phone</label>
                        <%= phone_field_tag :phone_number_1, nil, :class => 'styledInput phonenumber validate[required]' %>
                        <!--<input type="text" name="phoneHome" id="phoneHome" class="styledInput"/>-->
                      </div>
                      <div class="singleField">
                        <label for="phoneMobile">Mobile<br/>
                          Phone</label>
                        <%= phone_field_tag :phone_number_2, nil, :class => 'styledInput phonenumber' %>
                        <!--<input type="text" name="phoneMobile" id="phoneMobile" class="styledInput"/>-->
                      </div>
                      <div class="singleField">
                        <label for="phoneWork">Work<br/>
                          Phone</label>
                        <%= phone_field_tag :phone_number_3, nil, :class => 'styledInput phonenumber' %>
                        <!--<input type="text" name="phoneWork" id="phoneWork" class="styledInput"/>-->
                      </div>
                      <div class="singleField">
                        <label for="email">Email #1</label>
                        <%= email_field_tag :email, nil, :class => 'styledInput validate[custom[email]] validate[required]' %>
                        <!--<input type="text" name="email" id="email" class="styledInput"/>-->
                      </div>
                      <div class="singleField">
                        <label for="email2">Email #2</label>
                        <%= email_field_tag :email_2, nil, :class => 'styledInput validate[custom[email]]' %>
                        <!--<input type="text" name="email2" id="email2" class="styledInput"/>-->
                      </div>
                    </div>
                    <div class="unit noDivider">
                      <div class="singleField">
                        <label for="shirtSize">Shirt Size</label>
                        <select name="shirtSize" id="shirtSize" class="styledInput">
                          <option selected="selected">S</option>
                          <option>M</option>
                          <option>L</option>
                          <option>XL</option>
                          <option>XXL</option>
                          <option>XXXL</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="podFtr"></div>
                </div>
              </div>
              <!--END: col1-1-->
              <div class="col2-2">
                <div class="pod">
                  <div class="podHdr"></div>
                  <div class="contentWrapper symbolPin">
                    <div class="unit">
                      <h3>Site Preferences</h3>

                      <div class="singleField">
                        <label for="lagNo">Password</label>
                        <%= password_field_tag :password, nil, :class => 'styledInput password validate[required,equals[password]]' %>
                        <!--<input type="text" name="username" id="password" class="styledInput"/>-->
                      </div>
                      <div class="singleField">
                        <label for="lagNo">Password Confirmation</label>
                        <%= password_field_tag :password_confirmation, nil, :class => 'styledInput password validate[required,equals[password]]' %>
                        <!--<input type="text" name="username" id="password_confirmation" class="styledInput"/>-->
                      </div>
                    </div>
                    <div class="unit">
                      <h3>Comments</h3>
                      <%= text_area_tag :comments, nil, { :rows => 5, :class => 'styledInput doublewide' } %>
                      <!--<div class="singleField">-->
                      <!--<textarea name="comments" id="comments" rows="5" class="styledInput doublewide"></textarea>-->
                      <!--</div>-->
                    </div>
                    <div class="unit noDivider">
                      <div class="singleField">
                        <%= submit_tag :submit, :class => 'btnSmall doublewide' %>
                        <!--<a href="#" class="btnSmall indent">Submit</a>-->
                      </div>
                    </div>
                  </div>
                  <div class="podFtr"></div>
                </div>
              </div>
              <!--END: col2-2-->
          <% end %>
          <!--</form>-->
        </div>
        <!--END: mainCol-->
      </div>
      <!--END: contentWrapper-->
    </div>
    <!--END: bkgSubNav-->
  </div>
  <!--END: container-->
</div>