body {
  background: #002143;
}

.home-labels {
  height: 193px;
  position: absolute;
  right: 8px;
  z-index: 4;
}

#headerWrapper {
  height: 127px;
}

#mainWrapper {
  height: auto;
  padding-bottom: 50px;
}

#mainWrapper .container {
  padding-top: 10px;
}

.map-box {
  width: 506px;
}

.map-control-panel {
  //  border: 2px solid #d28530;

  //  -webkit-border-radius:  0px 15px 15px 15px;
  //  -moz-border-radius:     0px 15px 15px 15px;
  //  border-radius:          0px 15px 15px 15px;
}

.map-control-icon {
  font-size: 2em;
  color: white;
  background-color: #e88702;

  padding: 10px;

  border: 1px solid #3f3f3f;

  border-right: 2px solid #e88702;

  -webkit-border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
  border-radius: 5px 0px 0px 5px;
}

.stats {
//  margin-left: 33px;
//  margin-right: 93px;

  display: inline-block;
  -moz-box-shadow:    0 1px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow:         0 1px 4px rgba(0, 0, 0, 0.2);
}

.stats div {
  text-align: center;
}

.stats .item {

}

.stats .item .title {
  font-size: 1.3em;

  color: #E5E5E5;
  background-color: #5D6069;
  padding: 10px;
  width: 100%;

  border-top: 1px solid #E5E5E5;
}

.stats .item .count {
  font-size: 2.3em;

  padding: 10px;
  width: 100%;

  color: #ff9304;
  background-color: #0c2341;

  border-top: 1px solid #E5E5E5;
}

.stats .item .capture-title {
  border-left: 1px solid #E5E5E5;
  border-right: 1px solid #E5E5E5;

  -webkit-border-radius: 5px 0px 0px 0px;
  -moz-border-radius: 5px 0px 0px 0px;
  border-radius: 5px 0px 0px 0px;
}

.stats .item .recapture-title {
  border-right: 1px solid #E5E5E5;

  -webkit-border-radius: 0px 5px 0px 0px;
  -moz-border-radius: 0px 5px 0px 0px;
  border-radius: 0px 5px 0px 0px;
}

.stats .item .capture-count {
  border-left: 1px solid #E5E5E5;
  border-right: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;

  -webkit-border-radius: 0px 0px 0px 5px;
  -moz-border-radius: 0px 0px 0px 5px;
  border-radius: 0px 0px 0px 5px;
}

.stats .item .recapture-count {
  border-right: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;

  -webkit-border-radius: 0px 0px 5px 0px;
  -moz-border-radius: 0px 0px 5px 0px;
  border-radius: 0px 0px 5px 0px;
}

.species-stats-list {
  margin: 0 auto;

//  border: 1px solid #464646;

  color: #E5E5E5;

//  -webkit-border-radius: 5px;
//  -moz-border-radius: 5px;
//  border-radius: 5px;
}

.species-stats-list td, .species-stats-list th {
  border: 1px solid #464646;
  padding: 5px;
}

.species-stats-list tr:last-child td:first-child {
  -moz-border-radius-bottomleft:10px;
  -webkit-border-bottom-left-radius:10px;
  border-bottom-left-radius:10px
}

.species-stats-list tr:last-child td:last-child {
  -moz-border-radius-bottomright:10px;
  -webkit-border-bottom-right-radius:10px;
  border-bottom-right-radius:10px
}

.species-stats-list .total {
  font-weight: bold;
}

.page-item .stats {
  background-color: #5D6069;
  font-size: 1.4em;

  padding: 10px;
}

.page-item .stats .odometer {
  font-size: 1.6em;
  margin-bottom: 20px;
}

.map-control-icon:hover {
 cursor: pointer;
}

.map-front-card {
  height: 425px;
  width: 425px;

  border: 2px solid #d28530;

  -webkit-border-radius: 0px 15px 15px 15px;
  -moz-border-radius: 0px 15px 15px 15px;
  border-radius: 0px 15px 15px 15px;
}

#homepage_map {

  position: absolute;
//  border: 2px solid #d28530;
//
//  -webkit-border-radius: 0px 15px 15px 15px;
//  -moz-border-radius: 0px 15px 15px 15px;
//  border-radius: 0px 15px 15px 15px;
}

.back form label {
  color: #000000;
  font-size: 1.5em;
  margin-top: 9px;
}

.back .settings-header {
  background-color: #0c2341;
  padding: 10px;

  -webkit-border-radius: 0px 15px 0px 0px;
  -moz-border-radius: 0px 15px 0px 0px;
  border-radius: 0px 15px 0px 0px;
}

.back .settings-header button {
  color: white;
}

.empty {
  width: 100%;
  height: 200px;
}

.main-map {

}

.page-item {
  position: relative;
  width: 100%;
}

.page-item .background {
  position: absolute;
  width: 100%;
  height: 255px;

  background: #000000;
  opacity: .2;

  border-radius: 25px;
  z-index: 1;
}

.page-item .content {
  position: relative;
  width: 100%;
  height: 258px;

  z-index: 2;
}

.page-item.news-item-o {
  padding-left: 47px;
  padding-right: 75px;
}

.news-item-o .content, .news-item-o .background {
  height: 300px;
}

.news-item-o .content .body {
  height: 255px;
  margin-top: 20px;
  padding: 20px;
  z-index: 2;;
}

.connect-item .content, .connect-item .background {
  height: 200px;
}

.photo-item .content, .photo-item .background {
  height: 200px;
}

// FLIP VIEW CSS

.flipper .back {
  border: 2px solid #d28530;

  -webkit-border-radius: 0px 15px 15px 15px;
  -moz-border-radius: 0px 15px 15px 15px;
  border-radius: 0px 15px 15px 15px;
}

.flipper .back h1 {
  color: white;
  font-size: 2em;
}

.card .alternate-fields button {
  margin-left: 27px;
  margin-top: 15px;
}

.card .submit-button {
  width: 100%;
}

.card .pane {
  width: 100%;
  height: 100%;
  position: absolute
}

.card .progress-overlay, .progress-overlay-background {
  z-index: 500;
  width: 100%;
  height: 100%;
  position: absolute
}

.card .progress-overlay-background {
  background-color: #a9a9a9;
  opacity: .3;

  -webkit-border-radius: 0px 15px 15px 15px;
  -moz-border-radius: 0px 15px 15px 15px;
  border-radius: 0px 15px 15px 15px;
}

.map-progress-overlay-background {
  z-index: 2000;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000000;
  opacity: .5;

  -webkit-border-radius: 0px 15px 15px 15px;
  -moz-border-radius: 0px 15px 15px 15px;
  border-radius: 0px 15px 15px 15px;
}

/* entire container, keeps perspective */
.flip-container {
  // empty
}

.flip-container.flip .flipper {
  // empty
}

.flip-container .card.show_front {
  -webkit-transform: perspective(2000px) rotateY(-179.9deg);
  -moz-transform: perspective(2000px) rotateY(-179.9deg);
  -ms-transform: perspective(2000px) rotateY(-179.9deg);
  -o-transform: perspective(2000px) rotateY(-179.9deg);
  transform: perspective(2000px) rotateY(-179.9deg);
}

.flip-container .card.show_back {
  -webkit-transform: perspective(2000px) rotateY(0);
  -moz-transform: perspective(2000px) rotateY(0);
  -ms-transform: perspective(2000px) rotateY(0);
  -o-transform: perspective(2000px) rotateY(0);
  transform: perspective(2000px) rotateY(0);
}

.flip-container, .front, .back {
  width: 425px;
  height: 425px;
}

.flipper {
  position: relative;
}

/* flip speed goes here */
.flipper .card {
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* hide back of pane during swap */
.front, .back {
  width: 100%;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  -webkit-transform: perspective(2000px) rotateY(0deg);
  -moz-transform: perspective(2000px) rotateY(0deg);
  -ms-transform: perspective(2000px) rotateY(0deg);
  -o-transform: perspective(2000px) rotateY(0deg);
  transform: perspective(2000px) rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  background-color: white;

  -webkit-transform: perspective(2000px) rotateY(180deg);
  -moz-transform: perspective(2000px) rotateY(180deg);
  -ms-transform: perspective(2000px) rotateY(180deg);
  -o-transform: perspective(2000px) rotateY(180deg);
  transform: perspective(2000px) rotateY(180deg);
}

.card-toggle-button {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 4;
}

.click-map-label {
  color: #000;
  background-color: white;
  border: 2px solid #000;
  position: absolute;
  bottom: 35px;
  right: 8px;
  z-index: 4;
}

.map-settings-button {
  -moz-box-shadow: 0px 0px 5px 1px rgba(68, 68, 68, 0.6);
  -webkit-box-shadow: 0px 0px 1px 5px rgba(68, 68, 68, 0.6);
  box-shadow: 0px 0px 5px 1px rgba(68, 68, 68, 0.6);

  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3, MakeShadow=true, ShadowOpacity=0.30);
  -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
  zoom: 1;
  z-index: 1500;
}

// modal stuff

.modal-content {
  background-color: #757984;
}

.modal-header {
  background-color: #0c2341;
  border-bottom: 1px solid #d28530;
}

.modal-header button {
  color: white;
}

.modal-title {
  font-size: 1.3em;
  opacity: 1;
}

.modal-footer {
  background-color: #0c2341;
  border-top: 1px solid #d28530;
}

// news stuff

.news-title {
  font-size: 1.5em;
}

.news-title a {
  text-decoration: underline;
}

.news-date {
  font-size: 1.2em;
  color: lightgray;
}

.news-body {
  height: 100px;
  overflow: hidden;
}

.dimmer {
  display: block;
  position: absolute;
  right: 0;
  top: 50px;
  bottom: 0;
  height: 50px;
  width: 100%;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
  background: -moz-linear-gradient(top, rgba(93,96,105,0) 0%, rgba(93,96,105,1) 56%, rgba(93,96,105,1) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(93,96,105,0)), color-stop(56%,rgba(93,96,105,1)), color-stop(100%,rgba(93,96,105,1)));
  background: -webkit-linear-gradient(top, rgba(93,96,105,0) 0%,rgba(93,96,105,1) 56%,rgba(93,96,105,1) 100%);
  background: -o-linear-gradient(top, rgba(93,96,105,0) 0%,rgba(93,96,105,1) 56%,rgba(93,96,105,1) 100%);
  background: -ms-linear-gradient(top, rgba(93,96,105,0) 0%,rgba(93,96,105,1) 56%,rgba(93,96,105,1) 100%);
  background: linear-gradient(top, rgba(93,96,105,0) 0%,rgba(93,96,105,1) 56%,rgba(93,96,105,1) 100%);
  content: "";
}

.nano .nano-content { padding: 10px; }
.nano .nano-pane   { background: #888; }
.nano .nano-slider { background: #111; }

// flexslider stuff

.flexslider {
  background: none repeat scroll 0 0 #d28530;
  border: 4px solid #d28530;
  height: 402px;
}

.flexslider-image {
//  max-width: 500px;
}

/* Direction Nav */
.flex-direction-nav a { content: none; width: 30px; height: 30px; margin: -20px 0 0; display: block; background: image_url('bg_direction_nav.png') no-repeat 0 0; position: absolute; top: 50%; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
.flex-direction-nav .flex-next {background-position: 100% 0; right: -36px; }
.flex-direction-nav .flex-prev {left: -36px;}
.flexslider:hover .flex-next {opacity: 0.8; right: 5px;}
.flexslider:hover .flex-prev {opacity: 0.8; left: 5px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

.flex-direction-nav a:before {
  content: '';
}
.flex-direction-nav a.flex-next:before {
  content: '';
}

.flex-direction-nav .flex-next {
  text-align: center;
}