<div class="ttlBar">
  <div class="col1-4">&nbsp;</div>
  <div class="col2-4">Common Name</div>
  <div class="col3-4">Proper Name</div>
  <div class="col4-4">Other Names</div>
</div>

<% @objects.each do |species|%>
  <% if species['publish'] == true  %>
    <a href="<%= species_path(species['id'].to_i) %>" class="unit">
      <div class="col1-4">
        <div class="imgBlock"><%= image_tag species['image_url'] , :border => 0 %></div>
      </div>
      <div class="col2-4"><%= species['name'] %> <%= species['common_name'] %></div>
      <div class="col3-4"><%= species['proper_name'] %></div>
      <div class="col4-4"><%= species['other_name'] %></div>
    </a>
  <% end %>
<% end %>
