
<div id="mainWrapper" class="interior">
  <div class="container subNavFtr">
    <div id="bkgSubNav">
      <div class="contentWrapper">
        <div class="interiorBkg">
          <%= render 'nav/primary' %>
          <% if params[:came_from] == 'what' %>
            <div class="intro bkgWhatIs">
              <%= @blurb.html_safe %>
            </div>
          <% else %>
            <div class="intro bkgTagger">
              <%= @blurb.html_safe %>
            </div>
          <% end %>
            <!--<h2>Species Guide</h2>-->
        </div>
        <!--subnav-->

        <% if params[:came_from] == 'what' %>
          <%= render 'nav/wat' %>
        <% else %>
          <%= render 'nav/signin' %>
        <% end %>

        <div id="mainCol" class="speciesGuide">
          <% unless params[:target] %><!--Species Search-->
          <div id="speciesSearch">
            <h4>Search Our Species Guide:</h4>
            <%= form_tag( {:action => 'search'}, { :remote => true } ) do %>
              <%= text_field_tag :term  %>
              <%= submit_tag :go, :class => 'btnSmall' %>
            <% end %>
            <div>
              <%= form_tag( {:action => 'clear_search'}, { :remote => true } ) do %>
                <%= submit_tag :clear, :class => 'btnSmall pull-right', :style => 'width:100px' %>
              <% end %>
            </div>
          </div>
            <% end %>

          <div class="listing">
            <%=  render :partial => 'species' %>
          </div>
        </div><!--END: mainCol-->
      </div><!--END: contentWrapper-->
    </div><!--END: bkgSubNav-->
  </div><!--END: container-->
</div><!--END: mainWrapper-->