$('.listing').empty();

<% if @objects.count > 0 %>
$('.listing').html("<%= escape_javascript( render :partial => 'species' ).html_safe %>");
<% end %>

<% if @objects.count == 0 %>
$('.listing').html('<div style="text-align: center">No Results</div>');
<% end %>