
<div id="mainWrapper" class="interior">
  <div class="container subNavFtr">
    <div id="bkgSubNav">
      <div class="contentWrapper">
        <div class="interiorBkg">
          <%= render 'nav/primary' %>
          <div class="intro bkgWhatIs">
            <!--<h2>Species Guide</h2>-->
            <%= @blurb.html_safe %>
          </div>
        </div>
        <!--subnav-->
        <% if params[:came_from] == "what" %>
          <%= render 'nav/wat' %>
        <% else %>
          <%= render 'nav/signin' %>
        <% end %>
        <div id="mainCol" class="speciesGuide">
          <!--Species Details-->
          <div class="featPhoto">
            <!--<img src="/assets/phtPlaceholderLrg.jpg" width="250" height="250" />-->
            <%= image_tag @species['image_url'] , :border => 0 %>
            <div class="caption"> <%=@species['name'] %> <%=@species['common_name'] %></div>
          </div>
          <div class="head">
            <h3><%=@species['name'] %> <%=@species['common_name'] %> Overview</h3>
          </div>
          <h3>&nbsp;</h3>
          <p><span class="detailLabel">Common name:</span> <%= @species['name'] %> <%=@species['common_name'] %></p>
          <p><span class="detailLabel">Proper name:</span> <%= @species['proper_name']%></p>
          <p><span class="detailLabel">Other names:</span>  <%= @species['other_name'] %></p>
          <p><span class="detailLabel">Fish Family:</span> <%= @species['family']  %></p>
          <p><span class="detailLabel">Habitat:</span>  <%= @species['habitat'].html_safe %></p>
          <p><span class="detailLabel">Description:</span> <%= @species['description'].html_safe %></p>
          <p><span class="detailLabel">Size:</span>  <%= @species['size'].html_safe %></p>
          <p><span class="detailLabel">Food Value:</span> <%= @species['food_value'].html_safe   %></p>
          <p></p>
          <p></p>
          <p><a href="<%= species_index_path %>">Learn About Other Fish Species &raquo;</a></p>
        </div><!--END: mainCol-->
      </div><!--END: contentWrapper-->
    </div><!--END: bkgSubNav-->
  </div><!--END: container-->
</div><!--END: mainWrapper-->
