<div id="mainWrapper" class="interior">
  <div class="container subNavFtr">
    <div class="interiorBkg">
      <%= render 'nav/primary_about' %>
      <div class="intro bkgWhatIs">
        <!--<h2>Section Intro</h2>-->
        <%= @blurb.html_safe %>
      </div>
    </div>
    <!--subnav-->
    <%= render 'nav/signin' %>
    <div id="mainCol">
      <% flash.each do |name, msg| -%>
          <%= content_tag :div, msg, class: bootstrap_class_for(name) %>
      <% end -%>
      <%= form_tag({:action => 'site_feedback'}, :class => 'styled') do %>
          <div class="contactUs">
            <div class="pod">
              <div class="podHdr"></div>
              <div class="contentWrapper symbolFdbck">
                <div class="unit">
                  <h3>Name</h3>
                  <%= text_field_tag :name, nil, :class => 'styledInput validate[required]' %>
                </div>
                <div class="unit">
                  <h3>Email</h3>
                  <%= email_field_tag :email, nil, :class => 'styledInput validate[required, custom[email]]' %>
                </div>
                <div class="unit">
                  <h3>Feedback</h3>
                  <%= text_area_tag :feedback, nil, { :rows => '9', :style => 'width:100%',:class => 'styledInput validate[required]' } %>
                </div>
                <div class="unit noDivider">
                  <div class="singleField">
                    <%= submit_tag :submit, :class => 'btnSmall' %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
      <% end %>
      </div><!--END: mainCol-->
</div><!--END: container-->
</div><!--END: mainWrapper-->
