<div class="listing">
  <div class="ttlBar">
    <!--<a href="#">{ Sort By }</a>-->
    <div class="col1-4"><%= sortable 'capture_date', 'Date' %> &nbsp;&nbsp;</div>
    <div class="col2-4"><%= sortable 'species_name', 'Species' %> &nbsp;&nbsp;</div>
    <div class="col3-4"><%= sortable 'tag_number', 'Tag Number' %> &nbsp;&nbsp;</div>
    <div class="col4-4"><%= sortable 'error_json', 'Status' %> &nbsp;&nbsp;</div>
  </div>

  <% @objects.each do |cap| %>
      <div class="capture-container">
        <a href="#" id="<%= cap['id'] %>" class="unit">
          <div class="col1-4"><%= Chronic.parse(cap['capture_date']).strftime("%b\t%e, %Y") %></div>
          <div class="col2-4"><%= cap['species_name'] ? cap['species_name'] : '&nbsp;&nbsp;&nbsp;&nbsp;'.html_safe %></div>
          <div class="col3-4"><%= cap['tag_number'] %></div>
          <%= hidden_field_tag :tag_number, cap['tag_number'], :class => 'tag_number' %>
          <%= hidden_field_tag :species_name, cap['species_name'], :class => 'species_name' %>
          <%= hidden_field_tag :capture_date, cap['capture_date'].to_date, :class => 'capture_date' %>
          <%= hidden_field_tag :latitude, cap['latitude'], :class => 'latitude' %>
          <%= hidden_field_tag :longitude, cap['longitude'], :class => 'longitude' %>
          <%= hidden_field_tag :recapture, cap['recapture'], :class => 'recapture' %>
          <% icon = '<i class="fa ' + cap['status']['icon'] + '"></i>' %>
          <div class="col4-4"><%= icon.html_safe %></div>
          <div class="detailExpansion" style="display: none">
            <div class="col1-2">
              <h3>Capture Details</h3>
              <p><%= link_to 'Edit this Draft Capture', edit_my_capture_path(cap) %></p>
              <h4>Fish Species</h4>
              <p><%= cap['species_name'] %><br />
              <h4>Recapture?</h4>
              <p><%= cap['recapture'] ? 'Yes' : 'No' %></p>
              <h4>Status</h4>
              <p><%= cap['status']['message'] %></p>
              <% if cap['error_json'] == '{"errors":[]}' %>
                <!--<h4>Save this Draft Capture?</h4>-->
                <!--<label class="checkbox inline">-->
                  <!-- <%= check_box_tag(:should_save, true, cap['should_save'], data: { remote: true, url: url_for(action: :change_draft_capture_should_save, id: cap['id']), method: 'post' }) %> -->
                  <!--Should Save-->
                <!--</label>-->
                <!--<% if cap['should_save'] %>-->
                  <!--<h4>Time Left to Edit (Hours)</h4>-->
                  <!--<%= hidden_field_tag time_left = ((Chronic.parse(cap['saved_at']).utc + 24.hours) - Time.now.utc).to_i / 1.hour %>-->
                  <!--<p><%= time_left > 0 ? time_left : 0 %></p>-->
                <!--<% end %>-->
              <% else %>
                <h4>Errors</h4>
                <p><%= JSON.parse(cap['error_json'])["errors"].to_sentence %></p>
              <% end %>
            </div>
          </div>
        </a>
      </div>
  <% end %>
  <%= paginate @objects %>
</div>