<div id="mainWrapper" class="interior">

  <%= render 'common/warning_dialog' %>

  <div class="container subNavFtr">
    <div class="interiorBkg">
      <%= render 'nav/primary' %>
      <div class="intro bkgTagger">
        <%= @blurb.html_safe %>
      </div>
    </div>

    <div id="bkgSubNav">
      <div class="contentWrapper">

        <%= render 'nav/signin' %>
        <div id="mainCol" class="forms">
          <div id="flash_messages"></div>

          <%= form_tag({:action => 'create'}, {id: 'captureForm', :class => 'capture-form', :multipart => true, :remote => true}) do %>

            <div class="pull-left">
              <div class="capture-card container">

                <div class="row header">
                  <%= render partial: 'my_captures/form/header' %>
                </div>

                <div class="row content">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-6">
                        <%= render partial: 'my_captures/form/column_one' %>
                        <%= render partial: 'my_captures/form/column_two' %>
                      </div>

                      <div class="col-md-6">
                        <%= render partial: 'my_captures/form/column_three' %>
                      </div>
                    </div>

                    <div class="row">
                      <%= render partial: 'my_captures/form/footer' %>
                    </div>

                    <div class="row button-row" style="display: none">
                      <div class="col-md-2 col-md-offset-10">
                        <button type="button" class="btn btn-danger pull-right delete-card-button">Delete</button>
                      </div>
                    </div>
                  </div>

                </div>

              </div>

              <div class="button-container">
                <button type="button" class="btn btn-default pull-right add-capture-button" tabindex="1000"><i class="fa fa-plus"></i> Add Another</button>
              </div>
            </div>

          <div class="button-container pull-left">
              <div class="header"></div>
              <div class="content">
                <button type="button" class="btn btn-default text-center submit real-submit" tabindex="1002">Submit Captures</button>
              </div>
           </div>



            <div class="clearfix"></div>
            <div class="map-tile-cp">
              <span><i>* Map Tiles &copy; Esri &mdash; Sources: GEBCO, NOAA, CHS, OSU, UNH, CSUMB, National Geographic, DeLorme, NAVTEQ, and Esri</i></span><br>
              <span><i>* Map Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community</i></span>
            </div>
          <% end %>


        </div>
        <!--END: mainCol-->

      </div>
      <!--END: contentWrapper-->
    </div>
    <!--END: bkgSubNav-->


  </div>
  <!--END: container-->

</div><!--END: mainWrapper-->