<div class="listing">
  <div class="ttlBar">
    <!--<a href="#">{ Sort By }</a>-->
    <div class="col1-4"><%= sortable 'capture_date', 'Date', params[:start_date], params[:end_date], params[:species] %> &nbsp;&nbsp;</div>
    <div class="col2-4"><%= sortable 'species_name', 'Species', params[:start_date], params[:end_date], params[:species] %> &nbsp;&nbsp;</div>
    <div class="col3-4"><%= sortable 'tag_number', 'Tag Number', params[:start_date], params[:end_date], params[:species] %> &nbsp;&nbsp;</div>
    <div class="col4-4"><%= sortable 'has_recapture', 'Has Recapture', params[:start_date], params[:end_date], params[:species] %> &nbsp;&nbsp;</div>
  </div>

  <% @objects.each do |cap| %>
    <div class="capture-container">


      <div id="carousel-example-generic-<%=cap['id'] %>" <%= 'class="carousel slide" data-ride="carousel"'.html_safe if cap['has_recapture']  %>>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <a href="#" id="<%= cap['id'] %>" class="unit" style="padding: 0px">
              <div class="col1-4"><%= Chronic.parse(cap['capture_date']).strftime("%b\t%e, %Y") %></div>
              <div class="col2-4"><%= cap['species_name'] ? cap['species_name'] : '&nbsp;&nbsp;&nbsp;&nbsp;'.html_safe %></div>
              <div class="col3-4"><%= cap['tag_number'] %></div>
              <%= hidden_field_tag :tag_number, cap['tag_number'], :class => 'tag_number' %>
              <%= hidden_field_tag :species_name, cap['species_name'], :class => 'species_name' %>
              <%= hidden_field_tag :capture_date, cap['capture_date'].to_date.strftime("%m-%d-%Y"), :class => 'capture_date' %>
              <%= hidden_field_tag :latitude, cap['latitude'], :class => 'latitude' %>
              <%= hidden_field_tag :longitude, cap['longitude'], :class => 'longitude' %>
              <%= hidden_field_tag :recapture, cap['recapture'], :class => 'recapture' %>
              <%= hidden_field_tag :has_recapture, cap['has_recapture'], :class => 'has-recapture' %>
              <div class="col4-4"><%= cap['has_recapture'] ? 'Yes' : '' %></div>
              <div class="detailExpansion" style="display: none">
                <div class="col1-2">
                  <h3>Capture Details</h3>

                  <h4>Tag Number</h4>
                  <p><%= cap['tag_number'] %></p>

                  <h4>Date</h4>
                  <p><%= Chronic.parse(cap['capture_date']).strftime("%b\t%e, %Y") %></p>


                  <% @times.each do |s| %>
                    <% if s['id'] == cap['time_of_day_option_id'] %>
                      <h4>Time of Day</h4>
                      <p><%= s['time_of_day_option'] %></p>
                    <% end %>
                  <% end %>

                  <h4>Fish Species</h4>
                  <p><%= cap['species_name'] %><br />
                  <%= link_to('Learn More About this Species »', species_path(cap['species_id']), class: 'species-link') if cap['species_id'] %>

                  <% if cap['length'] or cap['range'] %>
                    <h4>Length</h4>
                    <% if cap['length'] %>
                      <p><%= cap['length'].to_s + "\"" %></p>
                    <% else cap['range'] %>
                      <p><%= cap['range'] %></p>
                    <% end %>
                  <% end %>

                  <h4>Fish Condition</h4>
                  <p><%= cap['fish_condition'] %></p>

                  <h4>Lat/Long</h4>
                  <p><%= cap['latitude_string'] ? cap['latitude_string'] : ''%> / <%= cap['longitude_string'] ? cap['longitude_string'] : ''%></p>

                  <% if cap['location_description']  %>
                    <h4>Location Description</h4>
                    <p><%= cap['location_description'] %></p>
                  <% end %>

                  <% unless cap['comments'].nil? or cap['comments'].empty? %>
                    <h4>Comments</h4>
                    <p><%= cap['comments'] %></p>
                  <% end %>

                </div>
                <%= hidden_field_tag 'map_url', 'https://maps.googleapis.com/maps/api/staticmap?size=300x200&markers=color:green'+'%7C' +(cap['latitude'].to_s) +','+ (cap['longitude'].to_s) +'&zoom=9&sensor=false', :class => 'map-url' %>
                <div class="col2-2">
                  <div class="fish-holder">
                    <%= image_tag cap['image_url'], :width => '300',:height => '145', :class => 'fish-photo' %>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic-<%=cap['id'] %>" style="display: none" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic-<%=cap['id'] %>" style="display: none" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>

    </div>
  <% end %>
  <%= paginate @objects %>
</div>