$('.captures').empty();

<% if @objects.count > 0 %>
$('.captures').html("<%= escape_javascript( render :partial => 'draft_search' ).html_safe %>");
<% end %>

<% if @objects.count == 0 %>
$('.captures').html('<div style="text-align: center">No Results</div>');
<% end %>

map.removeLayer(markerCluster);
capturesInit();
detailInit();