<% content_for :head do %>
    <%= javascript_include_tag 'captures' %>
    <%= javascript_include_tag 'other_libs/OverlappingMarkerSpiderfier' %>
<% end %>
<%= hidden_field_tag :capture_dashboard_page, nil, :class => 'capture-dashboard-page' %>

<div id="mainWrapper" class="interior">
  <div class="container subNavFtr">
    <div id="bkgSubNav">
      <div class="contentWrapper">
        <div class="interiorBkg">
          <%= render 'nav/primary' %>
          <div class="intro bkgTagger">
            <!--<h2>My Captures</h2>-->
            <%= @blurb.html_safe %>
          </div>
        </div>
        <!--subnav-->
        <%= render 'nav/signin' %>
        <div id="mainCol" class="dashboard">
          <div id="welcome">
            <h3><b>Welcome, <%= @user_name %></b>!  &nbsp;&nbsp;&nbsp;</h3></div>
          <a name="capturesMap"></a><div id="mapPod">
          <div id="map_div">
            <div class="map" id="map_canvas" style="width:648px;height:347px"></div>
          </div>
          <!-- TODO: Change below search function to use a draft capture search method in my_captures_controller -->
          <div class="searchCaptures">
            <h4>Search your Captures/Recaptures...</h4>
            <div class="searchFldsWrapper">
              <%= form_tag( {:action => 'draft_capture_search'}, { :remote => true, :class => 'captures-search-form' } ) do %>
                  <div class="col1-3">
                    <div class="by">By Date Range</div>
                    <label class="pull-left" for="dateFrom">From:</label>
                    <%= text_field_tag :start_date, '', :class => 'date datepicker pull-left'  %>
                    <label class="pull-left" for="dateTo">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To:</label>
                    <%= text_field_tag :end_date, '', :class => 'date datepicker pull-left'  %>
                  </div>
                  <div class="or">- Or -</div>
                  <div class="col2-3">
                    <div class="by">By Species</div>
                    <select name="species" id="species">
                      <option value="" >Please Select...</option>
                      <% @species.each do |s| %>
                          <% if s['publish'] %>
                              <option><%= s['common_name'] %></option>
                          <% end %>
                      <% end %>
                    </select>
                  </div>
                  <div class="col3-3">
                    <%= submit_tag :search, :class => 'btnSmall' %>
                    <!--<a href="#" class="btnSmall">Search</a>-->
                  </div>
              <% end %>
            </div>
          </div>
        </div>
          <!--Listing of Captures-->
          <div class="captures">
            <%= render :partial => 'draft_search' %>
          </div>
          <p><br />
            <br />
        </div><!--END: mainCol-->
      </div><!--END: contentWrapper-->
    </div><!--END: bkgSubNav-->
  </div><!--END: container-->
</div><!--END: mainWrapper-->
