<% content_for :head do %>
  <%= javascript_include_tag 'captures' %>
<% end %>

<%= hidden_field_tag :capture_dashboard_page, nil, :class => 'capture-dashboard-page' %>


<div id="mainWrapper" class="interior">
  <div class="container subNavFtr">
    <div id="bkgSubNav">
      <div class="contentWrapper">
        <div class="interiorBkg">
          <%= render 'nav/primary' %>
          <div class="intro bkgTagger">
            <!--<h2>My Captures</h2>-->
            <%= @blurb.html_safe %>
          </div>
        </div>
        <!--subnav-->
        <%= render 'nav/signin' %>
        <div id="mainCol" class="dashboard">

          <div class="head">
            <h3>My Captures –  <span class="secondary">View by map or by list. Simply click on a capture for details.</span></h3></div>
          <!--Map Pod-->
          <a name="capturesMap"></a><div id="mapPod">

          <div id="map_div">
            <div class="map" style="width: 100%; height: 400px"></div>
          </div>

          <div class="searchCaptures">
            <h4>Search your Captures/Recaptures...</h4>
            <div class="searchFldsWrapper">
              <%= form_tag( {:action => 'search'}, { :remote => true, :class => 'captures-search-form' } ) do %>
                <div class="col1-3">
                  <div class="by">By Date Range</div>
                  <label class="pull-left" for="dateFrom">From:</label>
                  <%= text_field_tag :start_date, '', :class => 'date datepicker pull-left'  %>
                   <label class="pull-left" for="dateTo">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To:</label>
                  <%= text_field_tag :end_date, '', :class => 'date datepicker pull-left'  %>
                </div>
                <div class="or">- Or -</div>
                <div class="col2-3">
                  <div class="by">By Species</div>
                  <select name="species" id="species">
                    <option value="" >Please Select...</option>
                    <% @species.each do |s| %>
                        <% if s['publish'] == true  %>
                            <option><%= s['common_name'] %></option>
                        <% end %>
                    <% end %>
                  </select>
                </div>
                <div class="col3-3">
                  <%= submit_tag :search, :class => 'btnSmall' %>
                </div>
                <div class="col4-3">
                  <%= button_to 'Clear', {:action => 'search'}, :remote => true, :class =>'btnSmall' %>
                </div>
              <% end %>
            </div>
            <div class="download-captures">
              <div class="btnSmall download pull-right">Download Captures Spreadsheet</div>
            </div>
          </div>
        </div>
          <!--Listing of Captures-->
          <div class="captures">
            <%= render :partial => 'search' %>
          </div>
          <p><br />
            <br />
            <!--<a href="#"><b>It looks like some of my captures are missing...</b></a></p>-->
        </div><!--END: mainCol-->
      </div><!--END: contentWrapper-->
    </div><!--END: bkgSubNav-->
  </div><!--END: container-->
</div><!--END: mainWrapper-->
