
<% content_for :head do %>
  <%= javascript_include_tag 'captures-new' %>

  <%= stylesheet_link_tag 'mycaptures/new' %>
<% end %>

<%= hidden_field_tag :capture_page, nil, :class => 'capture-page' %>

<%= render 'form' %>