
<div id="mainWrapper" class="interior">
  <div class="container subNavFtr">
    <div class="interiorBkg">
      <%= render 'nav/primary' %>
      <div class="intro bkgTagger">
        <h2>Enter a Tag</h2>
        This form allows you to choose the tags that are assigned to you, and to enter the capture and release information for that tagged fish.</div>
    </div>
    <div id="bkgSubNav">
      <div class="contentWrapper">
        <!--subnav-->
        <%= render 'nav/signin' %>
        <div id="mainCol" class="forms captureReview">
          <!--<div class="head">
            <h3>Login</h3>
          </div>-->
          <div class="head">
            <h3>Review Tag &amp; Save</h3>
          </div>
          <div class="unit alt"><div class="col1-2">Tagging Date:</div><div class="col2-2">July 4th, 2011</div></div>
          <div class="unit"><div class="col1-2">Time of Day:</div><div class="col2-2">6:01-9:00AM (Morning)</div></div>
          <div class="unit alt"><div class="col1-2">Tag Number:</div><div class="col2-2">#LW134203</div></div>
          <div class="unit"><div class="col1-2">Location Description:</div><div class="col2-2">Optimus quinquennalis zothecas circumgrediet matrimonii, quod quadrupei vix verecunde vocificat parsimonia concubine. Apparatus bellis miscere fiducias, quamquam pretosius catelli agnascor saburre, semper quadrupei corrumperet cathedras.</div></div>
          <div class="unit alt">
            <div class="col1-2">Coordinates:</div>
            <div class="col2-2">29 10 47.9994 for 29&deg;N 10' 47.99&quot;</div></div>
          <div class="unit">
            <div class="col1-2">Species:</div>
            <div class="col2-2">Red Drum</div>
          </div>
          <div class="unit alt">
            <div class="col1-2">Angler LAW/LaG:</div>
            <div class="col2-2">321</div>
          </div>
          <div class="unit">
            <div class="col1-2">Length:</div>
            <div class="col2-2">14.00&quot;-15.99&quot;</div>
          </div>
          <div class="unit alt">
            <div class="col1-2">Est. Weight):</div>
            <div class="col2-2">2 lbs.</div>
          </div>
          <div class="unit">
            <div class="col1-2">Fish Condition:</div>
            <div class="col2-2">Fish appeared disoriented upon entering the water, oriented toward the bottom and swam down slowly.</div>
          </div>
          <div class="unit alt">
            <div class="col1-2">Comments:</div>
            <div class="col2-2">Optimus quinquennalis zothecas circumgrediet matrimonii, quod quadrupei vix verecunde vocificat parsimonia concubine. Apparatus bellis miscere fiducias, quamquam pretosius catelli agnascor saburre, semper quadrupei corrumperet cathedras.</div>
          </div>
          <div class="optionsWrapper"><a href="muFormCaptureThankYou.htm" class="btnSmall inline">Save this Capture</a><a href="muFormCapture.htm" class="btnSmall inline">Edit This Capture</a></div>
        </div><!--END: mainCol-->
      </div><!--END: contentWrapper-->
    </div><!--END: bkgSubNav-->
  </div><!--END: container-->
</div><!--END: mainWrapper-->
