/**
 * Created with JetBrains RubyMine.
 * User: danielward
 * Date: 3/6/13
 * Time: 4:43 PM
 * To change this template use File | Settings | File Templates.
 */

$('.captures').empty();

<% if @objects.count > 0 %>
$('.captures').html("<%= escape_javascript( render :partial => 'search' ).html_safe %>");
<% end %>

<% if @objects.count == 0 %>
$('.captures').html('<div style="text-align: center">No Results</div>');
<% end %>

map.removeLayer(markerCluster);
capturesInit();
detailInit();
