<div class="col1-2">
  <% @parishes_1.each do |k, v| %>
      <div class="parishUnit">
        <h4><%= k %></h4>

        <% v.each do |q| %>
            <div id="1_<%= q['name'].gsub(/[[:punct:]]/,'').gsub(/\s+/,'') %>"  class="marina-container">
              <%= hidden_field_tag 'marker_num', '' %>
              <a href="#" class="spotName"><%= q['name'] %></a>
              <!--START: detail expansion-->
              <div class="detailExpansion" style="display: none">
                <!--<div class="imgBlock"><a href="#"><img src="" border="0"/></a></div>-->
                <% if q['address'] %>
                  <h5><%= "Address:" %></h5>
                  <%= q['address'] %> <br/>
                <% end %>
                <% if q['phone'] %>
                  <h5><%= "PH:" %></h5>
                  <%= q['phone'] %>
                <% end %>
                <% if q['hours_of_operation'] %>
                  <h5><%= "HOURS:" %></h5>
                  <%= q['hours_of_operation'] %>
                <% end %>
                <br class="clearLeft"/>
                <!--<h5>Overview:</h5>-->
                <!--<h5>Rules / Licensing:</h5>-->
                <% if q['web_address'] %>
                  <h5><%= "More Info:" %></h5>
                  <%= link_to q['web_address'], q['web_address'] %>
                <% end %>
                <%= hidden_field_tag :hidden_latitude, q['latitude'], :class => 'latitude' %>
                <%= hidden_field_tag :hidden_longitude, q['longitude'], :class => 'longitude' %>
                <%= hidden_field_tag :name, q['name'], :class => 'name' %>
                <%= hidden_field_tag :address, q['address'], :class => 'address' %>
              </div>
            </div>
        <% end %>
      </div>
  <% end %>
</div>

<div class="col2-2">
  <% @parishes_2.each do |k, v| %>
      <div class="parishUnit">
        <h4><%= k %></h4>
          <% v.each do |q| %>
              <div id="2_<%= q['name'].gsub(/[[:punct:]]/,'').gsub(/\s+/,'') %>" class="marina-container">
                <%= hidden_field_tag 'marker_num', '' %>
                <a href="#" class="spotName"><%= q['name'] %></a>
                <!--START: detail expansion-->
                <div class="detailExpansion" style="display: none">
                  <!--<div class="imgBlock"><a href="#"><img src="" border="0"/></a></div>-->
                  <% if q['address'] %>
                    <h5><%= "Address:" %></h5>
                    <%= q['address'] %> <br/>
                  <% end %>
                  <% if q['phone'] %>
                    <h5><%= "PH:" %></h5>
                    <%= q['phone'] %>
                  <% end %>
                  <% if q['hours_of_operation'] %>
                    <h5><%= "HOURS:" %></h5>
                    <%= q['hours_of_operation'] %>
                  <% end %>
                  <br class="clearLeft"/>
                  <!--<h5>Overview:</h5>-->
                  <!--<h5>Rules / Licensing:</h5>-->
                  <% if q['web_address'] %>
                    <h5><%= "More Info:" %></h5>
                    <%= link_to q['web_address'], q['web_address'] %>
                  <% end %>
                  <%= hidden_field_tag :hidden_latitude, q['latitude'], :class => 'latitude' %>
                  <%= hidden_field_tag :hidden_longitude, q['longitude'], :class => 'longitude' %>
                  <%= hidden_field_tag :name, q['name'], :class => 'name' %>
                  <%= hidden_field_tag :address, q['address'], :class => 'address' %>
                </div>
              </div>
          <% end %>
      </div>
  <% end %>
</div>