<% @objects.each do |cap| %>
    <a href="#" class="unit">
      <div class="col1-4"><%= Chronic.parse(cap['capture_date']).strftime("%b\t%e, %Y") %></div>
      <div class="col2-4"><%= cap['species_name'] ? cap['species_name'] : '&nbsp;&nbsp;&nbsp;&nbsp;'.html_safe %></div>
      <div class="col3-4"><%= cap['tag_number'] %></div>
      <%= hidden_field_tag :latitude, cap['latitude'], :class => 'latitude' %>
      <%= hidden_field_tag :longitude, cap['longitude'], :class => 'longitude' %>
      <%= hidden_field_tag :recapture, cap['recapture'], :class => 'recapture' %>
      <div class="col4-4"><%= cap['recapture'] ? 'Yes' : '' %></div>
    </a>
<% end %>