<% content_for :head do %>
  <%= javascript_include_tag 'marinas' %>
<% end %>

<div id="mainWrapper" class="interior">
  <div class="container subNavFtr">
    <div id="bkgSubNav">
      <div class="contentWrapper">
        <div class="interiorBkg">
          <%= render 'nav/primary' %>
          <% if params[:came_from] == "what" %>
            <div class="intro bkgWhatIs">
              <%= @blurb.html_safe %>
            </div>
          <% else %>
            <div class="intro bkgTagger">
              <%= @blurb.html_safe %>
            </div>
          <% end %>
        </div>
        <% if params[:came_from] == "what" %>
          <%= render 'nav/wat' %>
        <% else %>
          <%= render 'nav/signin' %>
        <% end %>
        <div id="mainCol" class="dashboard">
          <!--Tagging Totals Pod-->
          <div class="head">
            <h3>View Marinas by Map – <span class="secondary">Click on a location for details.</span></h3></div>
          <!--Map Pod-->
          <a name="capturesMap"></a>

          <div id="mapPod">
            <div id="map_div">
              <div class="map" id="map_canvas" style="width:648px;height:347px"></div>
            </div>

            <div class="searchSpots">
              <h4>Don’t see your spot above? Search by Zip:</h4>

              <%= form_tag( {:action => 'search'}, { :remote => true } ) do %>
              <!--<form id="form2" name="form2" method="post" action="">-->
                  <%= text_field_tag :zipcode, nil, maxlength: 5, class:'zip', style: 'height:25px; width:40px'  %>
                  <%= label_tag :distance, 'within' %>
                  <select name="distance" id="distance">
                    <% 10.step(100, 10) do |item| %>
                        <option value="<%= item %>"><%= item %></option>
                    <% end %>
                  </select>
                  <%= label_tag :distance, 'miles' %>
                <%= submit_tag :go, :class => 'btnSmall pull-right', :style => 'width:57px' %>
              <!--</form>-->
              <% end %>
              <%= form_tag( {:action => 'clear_search'}, { :remote => true } ) do %>
                  <%= submit_tag :Clear, :class => 'map-reset btnSmall pull-right', :style => 'width:57px' %>
              <% end %>
            </div>
          </div>
          <!--Listing of Marinas-->
          <div class="head">
            <h3>View Marinas by Parish – <span class="secondary">Click on a marina for details.</span></h3>
          </div>
          <div class="spotListing">
            <%=  render :partial => 'marina' %>
          </div>
          <div class="backToTop"><a href="#capturesMap">Return To Top </a></div>
        </div>
        <!--END: mainCol-->
      </div>
      <!--END: contentWrapper-->
    </div>
    <!--END: bkgSubNav-->
  </div>
  <!--END: container-->
</div>
<!--END: mainWrapper-->