/**
 * Created with JetBrains RubyMine.
 * User: danielward
 * Date: 3/6/13
 * Time: 4:43 PM
 * To change this template use File | Settings | File Templates.
 */

$('.spotListing').empty();

<% if @parishes_1.count > 0 %>
$('.spotListing').html("<%= escape_javascript( render :partial => 'marina' ).html_safe %>");
<% end %>

<% if @parishes_1.count == 0 %>
$('.spotListing').html('<div style="text-align: center">No Results</div>');
<% end %>

marinaInit();
initMap();
reInitMap();
$('.show-on-map-button').click(buttonClickToMap);
$('.map-reset').click(reInitMap);
