.contact-info {
  margin-bottom: 25px;

  padding: 0px;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  -webkit-box-shadow: 0px 0px 7px 0px rgba(41,41,41,1);
  -moz-box-shadow: 0px 0px 7px 0px rgba(41,41,41,1);
  box-shadow: 0px 0px 7px 0px rgba(41,41,41,1);
}

.contact-info .header {
  background-color: #D28530;
  height: 50px;

  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.contact-info .content {
  background-color: #D6D7DA;
  padding: 10px;

  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.contact-info .content .row:first-of-type {
  padding-bottom: 10px;
}

.contact-info .header label {
  color: #002144;
  font-size: 1.5em;
  margin-left: 11px;
  margin-top: 16px;
}

.contact-info .content label {
  font-size: 1.1em;
  color: #002144;
}


.button-container {
  width: 149px;
}

.button-container .content {
  padding-left: 10px;
  padding-right: 10px;
}

.button-container .content button:first-of-type {
  margin-top: 5px;
  margin-bottom: 5px;
}