<div id="mainWrapper" class="interior">

  <%= render 'common/warning_dialog' %>

  <div class="container subNavFtr">
    <div class="interiorBkg">
      <%= render 'nav/primary' %>
      <div class="intro bkgTagger">
        <%= @blurb.html_safe %>
      </div>
    </div>

    <div id="bkgSubNav">
      <div class="contentWrapper">

        <%= render 'nav/signin' %>
        <div id="mainCol" class="forms">
          <div id="flash_messages"></div>

          <%= form_tag({:action => 'create'}, {id: 'captureForm', :class => 'capture-form', :multipart => true, :remote => true}) do %>
            <div class="pull-left">
            <%= fields_for :angler do |angler| %>
              <div class="container contact-info">
                <div class="header">
                  <label>Contact Info</label>
                </div>
                <div class="content">

                  <div class="row">

                    <div class="col-md-2">
                      <label for="firstName1">First Name</label>
                    </div>
                    <div class="col-md-4">
                      <%= angler.text_field :first_name, {:class => 'form-control validate[required] firstNameField', tabindex: 1} %>
                    </div>

                    <div class="col-md-2">
                      <label for="lastName">Last Name</label>
                    </div>
                    <div class="col-md-4">
                      <%= angler.text_field :last_name, {:class => 'form-control validate[required]', tabindex: 1} %>
                    </div>

                  </div>

                  <div class="row">

                    <div class="col-md-2">
                      <label for="phoneHome">Phone</label>
                    </div>
                    <div class="col-md-4">
                      <%= angler.phone_field :phone_number_1, {:class => 'form-control phone_number validate[required],custom[usPhone]]', tabindex: 1} %>
                    </div>

                    <div class="col-md-2">
                      <label for="email">Email</label>
                    </div>
                    <div class="col-md-4">
                      <%= angler.email_field :email, {:class => 'form-control validate[required],custom[email]]', tabindex: 1} %>
                    </div>

                  </div>

                </div>
              </div>
            <% end %>


              <div class="capture-card container">

                <div class="row header">
                  <%= render partial: 'my_captures/form/header' %>
                </div>

                <div class="row content">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-6">
                        <%= render partial: 'my_captures/form/column_one' %>
                        <%= render partial: 'my_captures/form/column_two' %>
                      </div>

                      <div class="col-md-6">
                        <%= render partial: 'my_captures/form/column_three' %>
                      </div>
                    </div>

                    <div class="row">
                      <%= render partial: 'my_captures/form/footer' %>
                    </div>

                    <div class="row">
                      <div class="col-md-offset-6 md-col-6" style="padding-left: 14px">
                        <%= recaptcha_tags %>
                      </div>
                    </div>

                    <div class="row button-row" style="display: none">
                      <div class="col-md-2 col-md-offset-10">
                        <button type="button" class="btn btn-danger pull-right delete-card-button">Delete</button>
                      </div>
                    </div>
                  </div>

                </div>

              </div>

            </div>

            <div class="pull-left">

              <div class="button-container">
                <div class="header"></div>
                <div class="content">
                  <button type="button" class="btn btn-default text-center real-submit" tabindex="1002">Submit</button>
                </div>
              </div>

            </div>



            <div class="clearfix"></div>
            <div class="map-tile-cp">
              <span><i>* Map Tiles &copy; Esri &mdash; Sources: GEBCO, NOAA, CHS, OSU, UNH, CSUMB, National Geographic, DeLorme, NAVTEQ, and Esri</i></span>
            </div>

          <% end %>

        </div>
        <!--END: mainCol-->

      </div>
      <!--END: contentWrapper-->
    </div>
    <!--END: bkgSubNav-->


  </div>
  <!--END: container-->

</div><!--END: mainWrapper-->