/**
 * Created with JetBrains RubyMine.
 * User: danielward
 * Date: 3/6/13
 * Time: 4:43 PM
 * To change this template use File | Settings | File Templates.
 */


$('#flash_messages').empty();

<% if flash[:notice] %>
    $('#flash_messages').append('<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert">&times;</button><%= escape_javascript(flash[:notice].html_safe)  %></div>');
<% end %>

<% if flash[:error] %>
    $('#flash_messages').append('<div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert">&times;</button><%= escape_javascript(flash[:error].html_safe)  %></div>');
    grecaptcha.reset();
<% end %>

$("html, body").stop().animate({
    scrollLeft: $('#flash_messages').offset().left,
    scrollTop: $('#flash_messages').offset().top
}, 1200);

$('button').removeAttr('disabled');
