<h1>Listing non_registered_captures</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @non_registered_captures.each do |non_registered_capture| %>
  <tr>
    <td><%= link_to 'Show', non_registered_capture %></td>
    <td><%= link_to 'Edit', edit_non_registered_capture_path(non_registered_capture) %></td>
    <td><%= link_to 'Destroy', non_registered_capture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Non registered capture', new_non_registered_capture_path %>
