<% content_for :head do %>
<% end %>

<div id="mainWrapper" class="home">

<div class="container">

<div class="row">

  <div class="col-md-5">
      <span class="stats">

        <div class="item captures pull-left">

          <div class="title capture-title">Fish Tagged</div>
          <div class="count odometer capture-count"><%= @stats[:total_captures][:count] %></div>

        </div>

        <div class="item recaptures  pull-left">

          <div class="title recapture-title">Fish Recaptured</div>
          <div class="count odometer recapture-count"><%= @stats[:total_recaptures][:count] %></div>

        </div>

        <div class="clearfix"></div>
      </span>

  </div>

</div>

<br>

<div class="row">
<div class="col-md-6 map-box">


<div class="page-item map-item">
<!--<div class="background"></div>-->

<div class="content">

<div class="body">

<div class="pull-left map-control-panel">
  <a><i class="fa fa-tags map-control-icon tags-icon"></i></a><br>
  <a><i class="fa fa-list map-control-icon stats-icon"></i></a><br>
</div>

<div class="main-map pull-left" style="display: none" >

  <div class="flip-container">
    <div class="flipper">
      <div class="card front">

        <div>
          <button type="button" class="btn btn-default card-toggle-button map-settings-button">
            <i class="fa fa-cog"></i> Change Map
          </button>
        </div>

        <b class="click-map-label">
          - Click a Basin for Info -
        </b>

        <div id="homepage_map" class="map-front-card" style="position: absolute; height: 425px; width: 425px;"></div>

        <div class="map-progress-overlay">
          <div class="map-progress-overlay-background"></div>
          <%= image_tag 'card_progress.gif', :style => 'top: 40%; left: 43%; position: absolute; z-index; 2001' %>
        </div>
      </div>

      <div class="card back">
        <div class="pane">
          <div class="settings-header">
            <!-- front content -->
            <h1 class="header pull-left">Settings</h1>

            <button type="button" class="btn btn-link pull-right card-toggle-button show-map-button">
              <i class="fa fa-times"></i>
            </button>

            <div class="clearfix"></div>
          </div>

          <br>

          <div class="container" style="width: 100%; padding: 10px">
            <form role="form">

              <div class="row">
                <div class="col-md-4 col-md-offset-1">
                  <%= label_tag 'Event Type' %>
                </div>

                <div class="col-md-6">
                  <%= select_tag 'event_type', options_for_select(['Captures', 'Recaptures'], ['Captures']), :class => 'form-control' %>
                </div>
              </div>

              <br>

              <div class="alternate-group">
                <div class="date-last-fields alternate-fields">
                  <div class="row">
                    <div class="col-md-4 col-md-offset-1">
                      <%= label_tag 'Previous' %>
                    </div>

                    <div class="col-md-6">
                      <%= select_tag 'number_of_days', options_for_select(8.times.collect { |t| m = ((t + 1) * 30); ["#{m} days", m] }, 30), :class => 'form-control' %>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-4">
                      <button type="button" class="btn btn-xs btn-link">Date Range</button>
                    </div>
                  </div>

                  <br>
                </div>

                <div class="date-range-fields alternate-fields" style="display: none;">
                  <div class="row">
                    <div class="col-md-4 col-md-offset-1">
                      <%= label_tag 'Start Date' %>
                    </div>

                    <div class="col-md-6">
                      <%= text_field_tag 'start_date', nil, :class => 'form-control date' %>
                    </div>
                  </div>

                  <br>

                  <div class="row">
                    <div class="col-md-4 col-md-offset-1">
                      <%= label_tag 'End Date' %>
                    </div>

                    <div class="col-md-6">
                      <%= text_field_tag 'end_date', nil, :class => 'form-control date' %>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-4">
                      <button type="button" class="btn btn-xs btn-link">Last number of days</button>
                    </div>
                  </div>

                  <br>
                </div>
              </div>

              <br>
              <br>

              <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  <%= submit_tag 'Save', :class => 'btn btn-default submit-button' %>
                </div>
              </div>

            </form>
          </div>
        </div>

        <div class="progress-overlay" style="display: none">
          <div class="progress-overlay-background"></div>
          <%= image_tag 'card_progress.gif', :style => 'top: 40%; left: 40%; position: absolute' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="stats map-front-card pull-left">

  <div class="row">
    <div class="col-md-6">
    </div>

    <div class="col-md-6">
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 season-count">
      <div class="">
        Captures this season
      </div>
      <br>
      <div class="odometer minimal">
        <%= @stats[:total_captures_season][:count] %>
      </div>
    </div>

    <div class="col-md-6 season-count">
      <div class="">
        Recaptures this season
      </div>
      <br>
      <div class="odometer minimal">
        <%= @stats[:total_recaptures_season][:count] %>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-6 text-center">
      <div>
        Program Captures<br>Last 30 days
      </div>

      <br>

      <table class="species-stats-list">
        <thead>
        <th class="text-left">Species</th>
        <th class="text-right">Count</th>
        </thead>

        <tbody>
        <% if @stats[:captures_by_species] %>
          <% @stats[:captures_by_species].each do |capture| %>
            <tr class="species_row">
              <td class="text-left"><%= capture[:common_name] %></td>
              <td class="text-right"><%= capture[:species_count] %></td>
            </tr>
          <% end %>

          <tr class="species_row">
            <td class="text-left total">Total</td>
            <td class="text-right total"><%= a = 0; @stats[:captures_by_species].map {|c| a += c[:species_count]}; a  %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-md-6 text-center">
      <div>
        Program Recaptures<br>Last 30 days
      </div>
      <br>
      <table class="species-stats-list">
        <thead>
        <th class="text-left">Species</th>
        <th class="text-right">Count</th>
        </thead>

        <tbody>
        <% if @stats[:recaptures_by_species] %>
          <% @stats[:recaptures_by_species].each do |capture| %>
            <tr class="species_row">
              <td class="text-left"><%= capture[:common_name] %></td>
              <td class="text-right"><%= capture[:species_count] %></td>
            </tr>
          <% end %>

          <tr class="species_row">
            <td class="text-left total">Total</td>
            <td class="text-right total"><%= a = 0; @stats[:recaptures_by_species].map {|c| a += c[:species_count]}; a  %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>

</div>
</div>


</div>

<div class=" col-md-6">
  <div class="flexslider">
    <ul class="slides"></ul>
  </div>
</div>
</div>




</div>
</div>

<!--END: mainWrapper-->
