body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
    line-height: 155%;
}

.head {
    font-size: 18px;
    color: #002143;
    line-height: 105%;
    padding-bottom: 14px;
}

.subhead {
    font-size: 13px;
    line-height: 110%;
    color: #fdb76d;
    display: block;
    padding: 5px 0px 0px 0px;
}

.terthead {
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #86c4c6;
    line-height: 105%;
    padding-bottom: 3px;
}

.accent-darkblue {
    color: #002143;
}

.accent-aqua {
    color: #86c4c6;
}

.accent-orange {
    color: #fdb76d;
}