<div id="mainWrapper" class="interior">
  <div class="container subNavFtr">
    <div class="interiorBkg">
      <%= render 'nav/primary' %>
      <% if params[:came_from] == 'what' %>
          <div class="intro bkgWhatIs">
            <%= @blurb.html_safe %>
          </div>
      <% else %>
          <div class="intro bkgTagger">
            <%= @blurb.html_safe %>
          </div>
      <% end %>
    </div>
    <div id="bkgSubNav">
      <div class="contentWrapper">
        <!--subnav-->
        <% if params[:came_from] == "what" %>
          <%= render 'nav/wat' %>
        <% else %>
          <%= render 'nav/signin' %>
        <% end %>
        <div id="mainCol">
          <div class="">
            <% @objects.each do |o| %>
                <%= o["description"].html_safe %>
            <% end %>
            <%= image_tag 'totallength.jpg', :width => '67%', :style => 'display: block; margin-left: auto; margin-right: auto'%>
            <%= image_tag 'tagInsertion.jpg', :width => '49%'%>
            <%= image_tag 'IMG_5259.jpg', :width => '49%'%>

          </div>
        </div><!--END: mainCol-->
      </div><!--END: contentWrapper-->
    </div><!--END: bkgSubNav-->
  </div><!--END: container-->
</div><!--END: mainWrapper-->