<% content_for :head do %>
    <%= javascript_include_tag 'tags-new' %>
<% end %>

<div id="mainWrapper" class="interior">
  <div class="container subNavFtr">
    <div class="interiorBkg">
      <%= render 'nav/primary' %>
      <div class="intro bkgTagger">
        <!--<h2>Order More Tags</h2>-->
        <%= @blurb.html_safe %>
      </div>
    </div>
    <div id="bkgSubNav">
      <div class="contentWrapper">
        <!--subnav-->
        <%= render 'nav/signin' %>
        <div id="mainCol" class="">
          <!--<div class="head">
            <h3>Login</h3>
          </div>-->
          <%= form_tag({:action => 'create'}, :id => 'tagForm',:class => 'styled', :remote => true) do %>

          <!--<form id="login" name="login" method="post" action="" class="styled">-->
            <div class="col1-1">
              <div class="pod">
                <div class="podHdr"></div>
                <div class="contentWrapper symbolFish">
                  <div class="unit">
                    <div id="flash_messages"></div>
                    <div class="singleField">
                      <label for="orderTags">Type of Tags:</label>
                      <%= select_tag :type, '<option>Redfish/Trout Tags</option><option>Tuna Tags</option>'.html_safe, :class => 'styledInput' %>
                    </div>
                    <div class="singleField">
                      <label for="orderTags">Number of Tags:</label>
                      <%= select_tag :number, '<option>10</option><option>20</option><option>30</option><option>40</option><option>50</option><option>100</option>'.html_safe, :class => 'styledInput' %>
                    </div>
                  </div>
                  <div class="unit noDivider">
                    <div class="singleField">
                      <%= submit_tag 'Order Tags', :class => 'btnSmall indent singleCol submit' %>
                    </div>
                  </div>
                  <div class="unit noDivider"></div>
                </div>
                <div class="podFtr"></div>
              </div>
            </div>
            <!--END: col1-1-->
          <!--</form>-->
          <% end %>
        </div><!--END: mainCol-->
      </div><!--END: contentWrapper-->
    </div><!--END: bkgSubNav-->
  </div><!--END: container-->
</div><!--END: mainWrapper-->
