.leaflet-top, .leaflet-bottom {
  z-index: 900;
}

#mainWrapper.interior {
  padding-bottom: 0px;
}

.map-tile-cp {
  padding-top: 75px;
}

#mainCol form.capture-form {
  width: 900px;
}

#mainCol form.capture-form .container {
  width: 718px;
}

#mainCol form.capture-form .button-container {
  padding-top: 0px;
}

form.capture-form .capture-card .field-with-lock {
  padding-right: 0px;
}

.capture-card .formError .formErrorContent {
  width: 150%;
}

.capture-card label.collapsed-show, .capture-card .collapsed-show label {
  font-size: 1.6em;
  margin-top: 10px;
}

#mainCol form.capture-form div.capture-card {
  background-color: #D6D7DA;

  margin-bottom: 20px;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  -webkit-box-shadow: 0px 0px 7px 0px rgba(41,41,41,1);
  -moz-box-shadow: 0px 0px 7px 0px rgba(41,41,41,1);
  box-shadow: 0px 0px 7px 0px rgba(41,41,41,1);
}

#mainCol form.capture-form div.capture-card.collapsed {
  -webkit-box-shadow: 0px 0px 7px 0px rgba(41,41,41,1);
  -moz-box-shadow: 0px 0px 7px 0px rgba(41,41,41,1);
  box-shadow: 0px 0px 7px 0px rgba(41,41,41,1);
}

.button-container {
  margin-left: 20px;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  -webkit-box-shadow: 0px 0px 7px 0px rgba(41,41,41,1);
  -moz-box-shadow: 0px 0px 7px 0px rgba(41,41,41,1);
  box-shadow: 0px 0px 7px 0px rgba(41,41,41,1);
}

.button-container .header {
  background-color: #D28530;
  height: 25px;

  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.button-container .content {
  background-color: #D6D7DA;
  padding: 10px;

  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.button-container .content button {
  width: 100%;
}

.button-container .content button:first-of-type {
  margin-bottom: 10px;
}

.capture-card label {
  font-size: 1.1em;
  color: #002144;
}

.capture-card label.one-line {
  height: 17px;
  line-height: 17px;
  padding: 0;
  margin-top: 8px;
}

.capture-card .header {
  background-color: #D28530;

  height: 55px;
  padding-top: 10px;
  padding-bottom: 10px;

  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.capture-card .header .show-when-collapsed label {
  font-size: 1.5em;
  margin-top: 10px;
}

.capture-card .collapsed {
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.capture-card .content {
  background-color: #D6D7DA;
  padding-top: 10px;

  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.capture-card .content .row {
  padding-bottom: 10px;
}

.capture-card .tooltip {
  min-width: 350px;
}

.capture-card .lock-field-button .fa-unlock {
  color: #c69e3d;
  width: 8px;
}

.capture-card .lock-field-button .fa-lock {
  color: #1ab22c;
  width: 8px;
}

.map {
  height: 200px;
  width: 100%;
  border: 1px solid #adadad;
}

/*css for rotating cheveron*/
.chevron {
  font-size: 2em;
  margin-top: 6px;

  cursor: pointer;

  -webkit-transition: all 400ms ease-in-out;
  -moz-transition:    all 400ms ease-in-out;
  -o-transition:      all 400ms ease-in-out;
  -ms-transition:     all 400ms ease-in-out;
}


.rotate-up {
  -webkit-transform:  rotate(180deg);
  -moz-transform:     rotate(180deg);
  -o-transform:       rotate(180deg);
  -ms-transform:      rotate(180deg);
}

/*css for recapture switch*/
.onoffswitch {
  position: relative; width: 73px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid #999999; border-radius: 13px;
}
.onoffswitch-inner {
  width: 200%; margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  float: left; width: 50%; height: 28px; padding: 0; line-height: 28px;
  font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "Yes";
  padding-left: 10px;
  background-color: #D28530; color: #FFFFFF;
}
.onoffswitch-inner:after {
  content: "No";
  padding-right: 10px;
  background-color: #EEEEEE; color: #999999;
  text-align: right;
}
.onoffswitch-switch {
  width: 14px; margin: 7px;
  background: #FFFFFF;
  border: 2px solid #999999; border-radius: 13px;
  position: absolute; top: 0; bottom: 0; right: 41px;
  -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

/* wrapper css for fancy dropdown */
.wrapper-dropdown-3 {
  /* Size and position */
  position: relative;
  width: 200px;
  margin: 0 auto;
  padding: 10px;

  /* Styles */
  background: #fff;
  border-radius: 7px;
  border: 1px solid rgba(0,0,0,0.15);
  box-shadow: 0 1px 1px rgba(50,50,50,0.1);
  cursor: pointer;
  outline: none;

  /* Font settings */
  font-weight: bold;
  color: #8AA8BD;
}

.wrapper-dropdown-3:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -3px;
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: #8aa8bd transparent;
}

.wrapper-dropdown-3 .dropdown {
  /* Size & position */
  position: absolute;
  top: 140%;
  left: 0;
  right: 0;

  /* Styles */
  background: white;
  border-radius: inherit;
  border: 1px solid rgba(0,0,0,0.17);
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  font-weight: normal;
  transition: all 0.5s ease-in;
  list-style: none;

  /* Hiding */
  opacity: 0;
  pointer-events: none;
}

.wrapper-dropdown-3 .dropdown li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #8aa8bd;
  border-bottom: 1px solid #e6e8ea;
  box-shadow: inset 0 1px 0 rgba(255,255,255,1);
  transition: all 0.3s ease-out;
}

.wrapper-dropdown-3 .dropdown li i {
  float: right;
  color: inherit;
}

.wrapper-dropdown-3 .dropdown li:first-of-type a {
  border-radius: 7px 7px 0 0;
}

.wrapper-dropdown-3 .dropdown li:last-of-type a {
  border-radius: 0 0 7px 7px;
  border: none;
}

/* Hover state */

.wrapper-dropdown-3 .dropdown li:hover a {
  background: #f3f8f8;
}