<% content_for :head do %>
  <%= javascript_include_tag 'user-edit' %>
<% end %>


<div id="mainWrapper" class="interior">
  <div class="container subNavFtr">
    <div class="interiorBkg">
      <%= render 'nav/primary' %>
      <div class="intro bkgTagger">
        <%= @blurb.html_safe %>
      </div>
    </div>
    <div id="bkgSubNav">
      <div class="contentWrapper">
        <%= render 'nav/signin' %>
        <div id="mainCol" class="">

          <div id="flash_messages">
            <% flash.each do |name, msg| -%>
              <%= content_tag :div, msg, class: bootstrap_class_for(name) %>
            <% end %>

          </div>
          <%= form_tag('update', :class => 'styled update-user') do %>
            <div class="col1-2">
              <div class="pod">
                <div class="podHdr"></div>
                <div class="contentWrapper symbolFdbck">
                  <div class="unit">
                    <h3>Personal Information</h3>

                    <div class="singleField">
                      <p class="accentGreyItalics">This will be your username.</p>

                      <label for="email">Email</label>
                      <%= email_field_tag :email, @user_info[:email], :class => 'styledInput custom[email]' %>
                    </div>

                    <div class="singleField">
                      <label for="firstName1">First Name</label>
                      <%= text_field_tag :first_name, @user_info[:first_name], :class => 'styledInput' %>
                    </div>
                    <div class="singleField">
                      <label for="lastName">Last Name</label>
                      <%= text_field_tag :last_name, @user_info[:last_name], :class => 'styledInput' %>
                    </div>
                    <div class="singleField">
                      <label for="address">Address</label>
                      <%= text_field_tag :street, @angler_info[:street], :class => 'styledInput validate[]' %>
                    </div>
                    <div class="singleField">
                      <label for="city">City</label>
                      <%= text_field_tag :city, @angler_info[:city], :class => 'styledInput validate[]' %>
                    </div>
                    <div class="singleField">
                      <label for="state">State</label>
                      <%= select_tag :state, options_for_select(us_states, @angler_info[:state]), :class => 'styledInput validate[]' %>

                    </div>
                    <div class="singleField">
                      <label for="zip">Zip Code</label>
                      <%= text_field_tag :zip, @angler_info[:zip], :class => 'styledInput zip validate[minSize[5]]' %>
                    </div>
                  </div>
                  <div class="unit">
                    <div class="singleField">
                      <label for="phoneHome">Home<br/>
                        Phone</label>
                      <%= phone_field_tag :phone_number_1, @angler_info[:phone_number_1], :class => 'styledInput phone_number validate[,custom[usPhone]]' %>
                    </div>
                    <div class="singleField">
                      <label for="phoneMobile">Mobile<br/>
                        Phone</label>
                      <%= phone_field_tag :phone_number_2, @angler_info[:phone_number_2], :class => 'styledInput phone_number validate[custom[usPhone]]' %>
                    </div>
                  </div>
                </div>
                <div class="podFtr"></div>
              </div>
            </div>
            <!--END: col1-1-->
            <div class="col2-2">
              <div class="pod">
                <div class="podHdr"></div>
                <div class="contentWrapper symbolPin">
                  <div class="unit noDivider">
                    <div class="button-container text-center" style="margin-bottom:32px">
                      <button type="button" class="btn change-password-button">Change Password</button>
                    </div>
                  </div>
                  <div class="sitePreferences" style="display:none;">
                    <div class="unit">
                      <h3>Site Preferences</h3>
                      <div class="singleField">

                        <label for="lagNo">Current Password</label>
                        <%= password_field_tag :old_pass, nil, :class => 'styledInput validate[required]' %>
                      </div>
                      <div class="singleField">
                        <label for="lagNo">New Password</label>
                        <%= password_field_tag :password, nil, :class => 'styledInput password validate[required, minSize[8]]' %>
                      </div>
                      <div class="singleField">
                        <label for="lagNo">New Password Confirmation</label>
                        <%= password_field_tag :password_confirmation, nil, :class => 'styledInput password-confirm validate[equals[password]]' %>
                      </div>
                    </div>
                  </div>
                  <div class="unit noDivider">
                    <div class="singleField">
                      <%= submit_tag :submit, :class => 'btnSmall doublewide' %>
                    </div>
                  </div>
                </div>
                <div class="podFtr"></div>
              </div>
            </div>
            <!--END: col2-2-->
          <% end %>
          <!--</form>-->
        </div>
        <!--END: mainCol-->
      </div>
      <!--END: contentWrapper-->
    </div>
    <!--END: bkgSubNav-->
  </div>
  <!--END: container-->
</div>