<div class="row">
  <div class="col-md-4">
    <label class="one-line">GPS Format</label>
  </div>

  <div class="col-md-6 field-with-lock">

    <select name="captures[0][entered_gps_type]" id="enteredGpsType_0" class="form-control gps-type unlocked field validate[required]" tabindex="9">
      <option value="D" selected>
        <span>Decimal Degrees [<b>Example:</b> 29.1800 for 29&deg;N 10' 47.99&quot;]</span>
      </option>
      <option value="DM">
        <span>Degrees, Decimal Minutes [<b>Example:</b> 29 10.79 for 29&deg;N 10.79']</span>
      </option>
      <option value="DMS">
        <span>Degrees, Minutes, Decimal Seconds [<b>Example:</b> 29 10 47.9994 for 29&deg;N 10' 47.99&quot;]</span>
      </option>
    </select>

  </div>

  <div class="col-md-2">
    <%= render partial: 'my_captures/form/lock_button' %>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <label class="one-line">Latitude</label>
  </div>

  <div class="col-md-6 field-with-lock">
    <div class="coordinate-group">
      <%= text_field_tag :latitude_entry, @event['latitude'], {:class => 'latitude-entry coordinate_mask form-control unlocked field validate[required,funcCall[validateLatitude]]', id: 'latitude_0', tabindex: 10 } %>
      <%= hidden_field_tag :latitude, @event['latitude'], {class: 'latitude unlocked decimal field', name: 'captures[0][latitude]', id: 'latitudeEntry_0'} %>
    </div>
  </div>

  <div class="col-md-2">
    <%= render partial: 'my_captures/form/lock_button' %>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <label class="one-line">Longitude</label>
  </div>

  <div class="col-md-6 field-with-lock">
    <div class="coordinate-group">
      <%= text_field_tag :longitude_entry, @event['longitude'], {:class => 'longitude-entry coordinate_mask form-control unlocked field validate[required,funcCall[validateLongitude]]', id: 'longitude_0', tabindex: 11 } %>
      <%= hidden_field_tag :longitude, @event['longitude'], {class: 'longitude unlocked decimal field', name: 'captures[0][longitude]', id: 'longitudeEntry_0'} %>
    </div>
  </div>

  <div class="col-md-2">
    <%= render partial: 'my_captures/form/lock_button' %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="map"></div>
  </div>

</div>