<div class="row">
  <div class="col-md-4">
    <label class="one-line">Species</label>
  </div>

  <div class="col-md-6 field-with-lock">
    <%= select_tag :species_id, options_for_select( @species.map{|s| [s['common_name'], s['id']]}, @event['species_id']), {:prompt => 'Please Select...', :class => "form-control speciesField field unlocked validate[required]", name: 'captures[0][species_id]', :tabindex => 5} %>
  </div>

  <div class="col-md-2">
    <%= render partial: 'my_captures/form/lock_button' %>
  </div>
</div>

<div class="row species-length-row" style="">
  <div class="col-md-4">
    <label class="one-line">Length</label>
    </br>
    <span style="color: red;">In Inches </span>
  </div>

  <div class="col-md-6 field-with-lock">
    <%=  text_field_tag :length, nil, {:id => 'fishLength_0', :class => 'form-control unlocked length field validate[custom[fraction],funcCall[lengthRequired]]', name: 'captures[0][length]', tabindex: 6}  %>
  </div>

  <!-- Might need this later but for now remove it -->
  <!--<div class="col-md-6 field-with-lock">-->
    <!--<%#= select_tag :species_length_id, nil, {:class => "form-control unlocked field validate[required]", name: 'captures[0][species_length_id]',} %>-->
  <!--</div>-->

  <!--<div class="length-prison" style="display:none;">-->
    <!--<%# @species_lengths.each do |l| %>-->
        <!--<option value="<%#= l['id'] %>" species_id="<%#= l['species_id'] %>" <%#= l['id'] == @event['species_length_id'] ? 'selected = "selected"'.html_safe : '' %>><%#= l['description'] %></option>-->
    <!--<%# end %>-->
  <!--</div>-->

  <div class="col-md-2">
    <%= render partial: 'my_captures/form/lock_button' %>
  </div>
</div>

<div class="row recaptureDispositionFieldContainer" style="display: none">
  <div class="col-md-4">
    <label>Recapture Disposition</label>
  </div>

  <div class="col-md-6 field-with-lock">
    <%= select_tag :recapture_disposition_id, options_for_select( @dispositions.map{|s| [s['recapture_disposition'], s['id']]}, @event['recapture_disposition_id']), {:prompt => 'Please Select...', :class => "form-control unlocked field dispositionField", name: 'captures[0][recapture_disposition_id]', :tabindex => 8} %>
  </div>

  <div class="col-md-2">
    <%= render partial: 'my_captures/form/lock_button' %>
  </div>
</div>

<div class="row fishConditionContainer" style="">
  <div class="col-md-4">
    <label class="one-line">Condition</label>
  </div>

  <div class="col-md-6 field-with-lock">
    <%= select_tag :fish_condition_id, options_for_select( @conditions.map{|s| [s['fish_condition_option'], s['id']]}, @event['fish_condition_id']), {:prompt => 'Please Select...', :class => "form-control unlocked field validate[required]", name: 'captures[0][fish_condition_id]', :tabindex => 7} %>
  </div>

  <div class="col-md-2">
    <%= render partial: 'my_captures/form/lock_button' %>
  </div>
</div>