<div class="row">
  <div class="col-md-4">
    <label class="one-line">Tagging Date</label>
  </div>

  <div class="col-md-6 field-with-lock">
    <%= text_field_tag :date, Chronic.parse(@event['capture_date']).try(:strftime, '%m/%d/%Y'), { :class => 'form-control field unlocked dateField validate[required,funcCall[checkDate]] datepicker', id: 'date_0', name: 'captures[0][date]', tabindex: 2 } %>
  </div>

  <div class="col-md-2">
    <%= render partial: 'my_captures/form/lock_button' %>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <label class="one-line">Time Of Day</label>
  </div>

  <div class="col-md-6 field-with-lock">
    <%= select_tag :time_of_day_id, options_for_select( @times.map{|s| [s['time_of_day_option'], s['id']]}, @event['time_of_day_id']), {:prompt => 'Please Select...', :class => "form-control unlocked field validate[required]", name: 'captures[0][time_of_day_id]', :tabindex => 3} %>
  </div>

  <div class="col-md-2">
    <%= render partial: 'my_captures/form/lock_button' %>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <label class="one-line">Recapture</label>
  </div>

  <div class="col-md-6">
    <div class="onoffswitch">
      <input type="hidden" name="captures[0][recapture]" class="unlocked recaptureValue field" id="recaptureDefault_0" value=<%= @event['recapture'] %>>
      <input type="checkbox" class="onoffswitch-checkbox unlocked recaptureField field" id="recapture_0">
      <label class="onoffswitch-label" for="recapture_0" tabindex="4">
        <div class="onoffswitch-inner"></div>
        <div class="onoffswitch-switch"></div>
      </label>
    </div>
  </div>

  <div class="col-md-2">
    <%= render partial: 'my_captures/form/lock_button' %>
  </div>
</div>

<div class="row" style="display: none">
  <div class="col-md-4">
    <input type="hidden" name="captures[0][save_as_draft]" class="unlocked" id="saveAsDraft_0" value="true">
    <input type="hidden" name="captures[0][save_as_draft]" class="saveAsDraftField field" id="saveAsDraftFalse_0" value="false">
  </div>
</div>
