<div class="col-md-5 field-with-lock">
  <%= text_area_tag :comments, @event['comments'], {:rows => 3, :class => 'form-control field unlocked', placeholder: 'Comments', id: 'comments_0', name: 'captures[0][comments]', tabindex: 12} %>
</div>

<div class="col-md-1">
  <%= render partial: 'my_captures/form/lock_button' %>
</div>

<div class="col-md-5 field-with-lock">
  <%= text_area_tag :location_description, @event['location_description'], {:rows => 3, :class => 'form-control field unlocked', placeholder: 'Location Description', id: 'locationDescription_0', name: 'captures[0][location_description]', tabindex: 13} %>
</div>

<div class="col-md-1">
  <%= render partial: 'my_captures/form/lock_button' %>
</div>