<div class="col-md-6 field-with-lock hide-when-collapsed">
  <div class="row">
    <div class="col-md-4">
      <label class="one-line">Tag Number</label>
    </div>

    <div class="col-md-6">
      <%= text_field_tag :tag_no, @event['tag_number'], {:class => 'validate[required, ajax[ajaxTagNoExists]] field form-control tagNumberField', id: 'tagNumber_0', name: 'captures[0][tag_number]', tabindex: 1} %>
    </div>
  </div>
</div>

<div class="col-md-2 show-when-collapsed" style="display: none">
  <label class="tagNumber-label"></label>
</div>

<div class="col-md-2 show-when-collapsed" style="display: none">
  <label class="date-label"></label>
</div>

<div class="col-md-3 show-when-collapsed" style="display: none">
  <label class="species-label"></label>
</div>

<div class="col-md-2 col-md-offset-4 chevron-container">
  <i class="fa fa-chevron-down chevron pull-right" style="display: none"></i>
</div>

<%= hidden_field_tag 'uuid', nil, {class: 'uuid field', name: 'captures[0][uuid]', id: 'uuid_0'} %>