<!-- Don't display the lock icons if the user is viewing the non registered captures view
     The locks don't do anything there anyway because only 1 fish can be entered at a time
 -->
<% unless controller.controller_name == 'non_registered_captures' %>
  <button type="button" class="btn btn-default lock-field-button" data-toggle="tooltip" data-placement="right" title="Carry this over to the next capture" tabindex="-1"><i class="fa fa-unlock"></i></button>
<% end %>