<%= form_for(@volunteer_hour) do |f| %>
  <% if @volunteer_hour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@volunteer_hour.errors.count, "error") %> prohibited this volunteer_hour from being saved:</h2>

      <ul>
      <% @volunteer_hour.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
