<% content_for :head do %>
  <%= javascript_include_tag 'volunteer_hours' %>
<% end %>
<div id="mainWrapper" class="interior">
  <div class="container subNavFtr">
    <div class="interiorBkg">
      <%= render 'nav/primary' %>
      <div class="intro bkgTagger">
        <!--<h2>Volunteer Hours</h2>-->
        <%= @blurb.html_safe %>
      </div>
    </div>
    <div id="bkgSubNav">
      <div class="contentWrapper">
        <!--subnav-->
        <%= render 'nav/signin'  %>
        <div id="mainCol" class="forms">
          <!--<div class="head">
            <h3>Login</h3>
          </div>-->
          <div id="flash_messages"></div>
          <%= form_tag({:action => 'create'}, :id => 'vol_submit', :class => 'styled', :remote => true) do %>
          <!--<form id="login" name="login" method="post" action="" class="styled">-->
            <div class="col1-2">
              <div class="pod">
                <div class="podHdr"></div>
                <div class="contentWrapper symbolPin">
                  <div class="unit">
                    <div class="singleField">
                      <label for="taggingDate">Tagging Date</label>
                      <input type="text" name="start_date" id="start_date" class="datepicker styledInput validate[required,funcCall[checkDate]]" />
                    </div>
                    <div class="singleField">
                      <label for="startTime">Start Time<br />
                        on Water</label>
                      <select name="start_time" id="start_time" style="width:58%;" class="selectpicker styledInput validate[required]">
                        <option value=""></option>
                        <option value=0>12:00 am</option>
                        <option value=1>12:30 am</option>
                        <option value=2>01:00 am</option>
                        <option value=3>01:30 am</option>
                        <option value=4>02:00 am</option>
                        <option value=5>02:30 am</option>
                        <option value=6>03:00 am</option>
                        <option value=7>03:30 am</option>
                        <option value=8>04:00 am</option>
                        <option value=9>04:30 am</option>
                        <option value=10>05:00 am</option>
                        <option value=11>05:30 am</option>
                        <option value=12>06:00 am</option>
                        <option value=13>06:30 am</option>
                        <option value=14>07:00 am</option>
                        <option value=15>07:30 am</option>
                        <option value=16>08:00 am</option>
                        <option value=17>08:30 am</option>
                        <option value=18>09:00 am</option>
                        <option value=19>09:30 am</option>
                        <option value=20>10:00 am</option>
                        <option value=21>10:30 am</option>
                        <option value=22>11:00 am</option>
                        <option value=23>11:30 am</option>
                        <option value=24>12:00 pm</option>
                        <option value=25>12:30 pm</option>
                        <option value=26>01:00 pm</option>
                        <option value=27>01:30 pm</option>
                        <option value=28>02:00 pm</option>
                        <option value=29>02:30 pm</option>
                        <option value=30>03:00 pm</option>
                        <option value=31>03:30 pm</option>
                        <option value=32>04:00 pm</option>
                        <option value=33>04:30 pm</option>
                        <option value=34>05:00 pm</option>
                        <option value=35>05:30 pm</option>
                        <option value=36>06:00 pm</option>
                        <option value=37>06:30 pm</option>
                        <option value=38>07:00 pm</option>
                        <option value=39>07:30 pm</option>
                        <option value=40>08:00 pm</option>
                        <option value=41>08:30 pm</option>
                        <option value=42>09:00 pm</option>
                        <option value=43>09:30 pm</option>
                        <option value=44>10:00 pm</option>
                        <option value=45>10:30 pm</option>
                        <option value=46>11:00 pm</option>
                        <option value=47>11:30 pm</option>
                      </select>

                    <%= hidden_field_tag 'real_start_time'%>
                    </div>

                    <div class="singleField">
                      <label for="endTime">End Time <br />
                        on Water
                      </label>
                      <select name="end_time" id="end_time" style="width:58%;" class="selectpicker styledInput validate[required]">
                        <option value=""></option>
                        <option value=0>12:00 am</option>
                        <option value=1>12:30 am</option>
                        <option value=2>01:00 am</option>
                        <option value=3>01:30 am</option>
                        <option value=4>02:00 am</option>
                        <option value=5>02:30 am</option>
                        <option value=6>03:00 am</option>
                        <option value=7>03:30 am</option>
                        <option value=8>04:00 am</option>
                        <option value=9>04:30 am</option>
                        <option value=10>05:00 am</option>
                        <option value=11>05:30 am</option>
                        <option value=12>06:00 am</option>
                        <option value=13>06:30 am</option>
                        <option value=14>07:00 am</option>
                        <option value=15>07:30 am</option>
                        <option value=16>08:00 am</option>
                        <option value=17>08:30 am</option>
                        <option value=18>09:00 am</option>
                        <option value=19>09:30 am</option>
                        <option value=20>10:00 am</option>
                        <option value=21>10:30 am</option>
                        <option value=22>11:00 am</option>
                        <option value=23>11:30 am</option>
                        <option value=24>12:00 pm</option>
                        <option value=25>12:30 pm</option>
                        <option value=26>01:00 pm</option>
                        <option value=27>01:30 pm</option>
                        <option value=28>02:00 pm</option>
                        <option value=29>02:30 pm</option>
                        <option value=30>03:00 pm</option>
                        <option value=31>03:30 pm</option>
                        <option value=32>04:00 pm</option>
                        <option value=33>04:30 pm</option>
                        <option value=34>05:00 pm</option>
                        <option value=35>05:30 pm</option>
                        <option value=36>06:00 pm</option>
                        <option value=37>06:30 pm</option>
                        <option value=38>07:00 pm</option>
                        <option value=39>07:30 pm</option>
                        <option value=40>08:00 pm</option>
                        <option value=41>08:30 pm</option>
                        <option value=42>09:00 pm</option>
                        <option value=43>09:30 pm</option>
                        <option value=44>10:00 pm</option>
                        <option value=45>10:30 pm</option>
                        <option value=46>11:00 pm</option>
                        <option value=47>11:30 pm</option>
                      </select>

                      <%= hidden_field_tag 'real_end_time'%>
                    </div>


                  </div>
                  <div class="unit noDivider" style="margin-bottom: 27px">
                    <h3>Total Hours on Water<span class="detail"><br />
                      <i></i></span></h3>

                    <div class="singleField">
                      <input type="checkbox" name="verified" id="verified" class="styledRadio validate[required]" /><label for="certification" class="styledRadio accent02"><b>I certify that the information given on this report is true and correct.</b></label>
                    </div>
                  </div>
                </div>
                <div class="podFtr"></div>
              </div>
            </div>
            <!--END: col1-1-->
            <div class="col2-2">
              <div class="pod">
                <div class="podHdr"></div>
                <div class="contentWrapper symbolFish">
                  <div class="unit">
                    <div class="singleField">
                      <%= submit_tag 'Submit & enter my captures', { :name => 'create_and_enter_capture', :class => 'btnSmall' } %>
                    </div>
                </div>
                  <div class="unit">
                    <div class="singleField noDivider">
                      <%= submit_tag 'Submit & enter another day', :class => 'btnSmall more_hours' %>
                    </div>
                  </div>
                  <!--<div class="unit noDivider">-->
                    <!--<div class="singleField">-->
                      <!--<a href="<%= new_my_capture_path %>" class="btnSmall">Enter a Capture</a>-->
                    <!--</div>-->
                  <!--</div>-->
                </div>
                <div class="podFtr"></div>
              </div>
            </div><!--END: col2-2-->
            <% end %>
        </div><!--END: mainCol-->
      </div><!--END: contentWrapper-->
    </div><!--END: bkgSubNav-->
  </div><!--END: container-->
</div><!--END: mainWrapper-->
