<% content_for :head do %>
    <%= javascript_include_tag 'captures' %>
<% end %>
<%= hidden_field_tag :capture_dashboard_page, nil, :class => 'capture-dashboard-page' %>


<div id="mainWrapper" class="interior">
  <div class="container subNavFtr">
    <div id="bkgSubNav">
      <div class="contentWrapper">
        <div class="interiorBkg">
          <%= render 'nav/primary' %>
          <div class="intro bkgTagger">
            <!--<h2>My Captures</h2>-->
            <%= @blurb.html_safe %>
          </div>
        </div>
        <!--subnav-->
        <%= render 'nav/signin' %>
        <div id="mainCol" class="dashboard">
          <div id="welcome">
            <h3><b>Welcome, <%= @user_name %></b>!  &nbsp;&nbsp;&nbsp; <%#= link_to 'Not You?', :controller => "sessions", :action => "destroy"  %></h3></div>

          <!--Tagging Totals Pod-->
          <div id="taggedTotals">
            <div class="column borderRt">
              <div class="number"><%= format_number(@all_my_caps)%></div>
              <div class="descrip">
                You've tagged <br />
                <%= @all_my_caps %> fish.
              </div>
            </div>

            <div class="column2">
              <div class="number"><%= format_number(@number_of_my_recaps) %></div>
              <div class="descrip">
                Your fish that have been recaptured.
              </div>
            </div>
            <div class="column3">
              <div class="number"><%= format_number(@caps_ever) %></div>
              <div class="descrip">Total number of fish tagged by all participating members.</div>
            </div>
            <div class="column borderRt">
              <div class="number"><%= format_number(@number_of_my_caps_this_year) %></div>
              <div class="descrip">
                You've tagged <br />
                <%= @number_of_my_caps_this_year %> fish this season (10/1/2014 to 9/30/2015).
              </div>
            </div>

            <div class="column2">
              <div class="number"><%= format_number(@number_of_my_recaps_this_year) %></div>
              <div class="descrip">
                Your fish that have been recaptured this season (10/1/2014 to 9/30/2015).
              </div>
            </div>
            <div class="column3">
              <div class="number"><%= format_number(@recaps_ever) %></div>
              <div class="descrip">Total number of fish recaptured by all participating members.</div>
            </div>

            <div class="column borderRt">
              <div class="number"><%= format_number(@number_of_my_caps_last_season) %></div>
              <div class="descrip">
                You tagged <br />
                <%= @number_of_my_caps_last_season %> fish last season (7/1/13 to 9/30/14).
              </div>
            </div>

            <div class="column2">
              <div class="number"><%= format_number(@number_of_my_recaps_last_season) %></div>
              <div class="descrip">
                Your fish that were recaptured last season (7/1/13 to 9/30/14).
              </div>
            </div>
          </div>

          <div id="species_list">

            <div class="column">

              <p class="header">Program Captures by Species Last 30 days</p>

              <table>
                <thead>
                <tr>
                  <th>Species</th>
                  <th>Count</th>
                </tr>
                </thead>

                <tbody>
                <% if @captures_by_species != nil %>
                    <% @captures_by_species.each do |capture| %>
                        <tr class="species_row">
                          <td class="leftCol"><%= capture[:common_name] %></td>
                          <td class="rightCol"><%= format_number(capture[:species_count]) %></td>
                        </tr>
                    <% end %>
                <% end %>
                <tr class="species_row">
                  <td class="leftCol total">Total</td>
                  <td class="rightCol total"><%= format_number(@captures_by_species_total) %></td>
                </tr>

                </tbody>
              </table>
            </div>

            <div class="column">

              <p class="header">My Captures by Species<br>Last 30 days</p>

              <table>
                <thead>
                <tr>
                  <th>Species</th>
                  <th>Count</th>
                </tr>
                </thead>

                <tbody>
                <% @angler_captures_by_species.each do |capture| %>
                    <tr class="species_row">
                      <td class="leftCol"><%= capture[:common_name] %></td>
                      <td class="rightCol"><%= format_number(capture[:species_count]) %></td>
                    </tr>
                <% end %>

                <tr class="species_row">
                  <td class="leftCol total">Total</td>
                  <td class="rightCol total"><%= format_number(@angler_captures_by_species_total) %></td>
                </tr>

                </tbody>
              </table>
            </div>

            <div style="clear: both"></div>

            <br>
            <br>

            <div class="column">

              <p class="header">Program Recaptures by Species Last 30 days</p>

              <table>
                <thead>
                <tr>
                  <th>Species</th>
                  <th>Count</th>
                </tr>
                </thead>

                <tbody>
                <% if @recaptures_by_species != nil %>
                    <% @recaptures_by_species.each do |capture| %>
                        <tr class="species_row">
                          <td class="leftCol"><%= capture[:common_name] %></td>
                          <td class="rightCol"><%= format_number(capture[:species_count]) %></td>
                        </tr>
                    <% end %>
                <% end %>
                <tr class="species_row">
                  <td class="leftCol total">Total</td>
                  <td class="rightCol total"><%= format_number(@recaptures_by_species_total) %></td>
                </tr>

                </tbody>
              </table>
            </div>

            <div class="column">

              <p class="header">My Recaptures by Species<br>Last 30 days</p>

              <table>
                <thead>
                <tr>
                  <th>Species</th>
                  <th>Count</th>
                </tr>
                </thead>

                <tbody>
                <% @angler_recaptures_by_species.each do |capture| %>
                    <tr class="species_row">
                      <td class="leftCol"><%= capture[:common_name] %></td>
                      <td class="rightCol"><%= format_number(capture[:species_count]) %></td>
                    </tr>
                <% end %>

                <tr class="species_row">
                  <td class="leftCol total">Total</td>
                  <td class="rightCol total"><%= format_number(@angler_recaptures_by_species_total) %></td>
                </tr>

                </tbody>
              </table>
            </div>

            <div style="clear: both"></div>

          </div>

        </div>

      </div><!--END: mainCol-->
    </div><!--END: contentWrapper-->
  </div><!--END: bkgSubNav-->
</div><!--END: container-->
</div><!--END: mainWrapper-->
