<div id="mainWrapper" class="interior">
  <div class="container subNavFtr">
    <div class="interiorBkg">
      <%= render 'nav/primary_about' %>
      <div class="intro bkgWhatIs">
        <!--<h2>Section Intro</h2>-->
        <%= @blurb.html_safe %>
      </div>
    </div>
    <div id="bkgSubNav">
      <div class="contentWrapper">
        <!--subnav-->
        <% if current_user.nil? %>
            <%= render 'nav/wat' %>
        <% else %>
            <%= render 'nav/signin' %>
        <% end %>
        <div id="mainCol">
          <div class="cms">
            <% @objects.each do |o| %>
                <%= o['description'].html_safe %>
            <% end %>
          </div>
        </div><!--END: mainCol-->
      </div><!--END: contentWrapper-->
    </div><!--END: bkgSubNav-->
  </div><!--END: container-->
</div><!--END: mainWrapper-->
