/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require nanoscroller
 *= require master
 */

.tags-error {
    color: red;
    margin-bottom: 10px;
    margin-left: 122px;
}

.signup-error {
    background-color: #B2484D;
    color: white;
    font-size: small;
    margin-bottom: 10px;
    margin-left: 53px;
    padding: 10px;
    width: 617px;
}

.tags-notice {
    color: green;
    margin-bottom: 10px;
    margin-left: 122px;
}
.alert {
    margin-left: 51px;;
}

input.btnSmall {
    width: 100%;
}

.singleField a.verify-map-button {
    width: 90%;
}

.enter-capture-map {
    width: 720px;
    margin-top: 15px;
    margin-left: 237px;
    background: url('/assets/bkgFormSymbMap.png') no-repeat, url('/assets/bkgFormPod.gif') repeat-y  #D6D7DA;
    background-position: 0px 20px;
}

.enter-capture-map-div{
    width:587px;
    height:300px;
    margin-left: 113px;
}

.enter-capture-map-div-header{
    background: url("/assets/bkgFormPodHdr.gif") no-repeat scroll 0 0  #D6D7DA;
    height: 18px;
    margin-left: 50px;
    width:586px;
}
.enter-capture-map-div-footer{
    background: url("/assets/bkgFormPodFtr.gif") no-repeat scroll 0 0  #D6D7DA;
    height: 18px;
    margin-left: 50px;
    width:586px;
}

.show-on-map-button{
    width: 60px;
    font-size:.6em
}

form div #session-button {
    height: 25px;
    margin-top: 10px;
    width: 100%;
}

.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left {
    left: 49%;
    font-size: 21px;
}

.carousel-control .icon-next, .carousel-control .glyphicon-chevron-right {
    right: 7%;
    font-size: 21px;
}

.carousel-control.right {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.5) 100%);
    background-repeat: repeat-x;
    left: auto;
    right: 15px;
}

.carousel-control {
    bottom: 0;
    color: #FFFFFF;
    font-size: 20px;
    left: 0;
    opacity: 0.5;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    top: 24px;
    width: 4%;
}

.carousel-inner {
    /*overflow: hidden;*/
    /*position: relative;*/
    width: 98%;
}

.species-link {
    font-size: 10px;
    font-style: italic;
}

.social-group {
    position: absolute;
    right: 13px;
    top: 35px;
}

.social-group .social-icon {
    font-size: 4.5em;
    padding-right: 14px;
    color: #757983;
}