@charset "UTF-8";
/* CSS Document */

body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    line-height: 120%;
    font-size: 12px;
    color: #717b7e;
    background: #626d6f;
    padding: 20px;
}

h2 {
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}

a {
    color: #FFF;
    text-decoration: none;
}

a:hover {
    color: #455153;
    text-decoration: none;
}

a.btnMed {
    font-size: 10px;
    color: #FFF;
    line-height: 100%;
    text-transform: uppercase;
    letter-spacing: .05em;
    text-align: center;
    background: url('/assets/btnFdbckBlank.gif') no-repeat top right;
    display: block;
    width: 131px;
    padding: 7px 0px 0px 0px;
    height: 18px;
    text-decoration: none;
}

a.btnMed:hover {
    color: #FFF;
    background: url('/assets/btnFdbckBlankO.gif') no-repeat top right;
    text-decoration: none;
}

#feedback {
    padding: 20px;
    margin: auto;
    background: #FFF;
    border: 10px solid #bfc3c4;
}

#feedback .singleField {
    padding-top: 17px;
}

#feedback label {
    font-weight: bold;
    display: block;
    padding-bottom: 4px;
}

#feedback input, #feedback textarea {
    background: #e3e6e7;
    border: 1px solid #bfc3c4;
    width: 250px;
}

#feedback input {
    font-size: 16px;
    color: #626d6f;
    height: 28px;
    padding: 5px 10px 0px 10px;
}

#feedback textarea {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 120%;
    color: #626d6f;
    padding: 10px;
}

	
