/* MASTER DEFAULTS ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• */
body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    line-height: 155%;
    background: #002143;
}

form {
    padding: 0px;
    margin: 0px;
}

input, textarea {
    font-family: Helvetica, Light, sans-serif;
    font-size: 10px;
    color: #5c6068;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

p {
    margin-top: 0px;
    padding-top: 0px;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
    font-size: inherit;
    margin: 0px;
    padding: 0px;
}

/* •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• */

/* ----- SITE-WIDE TEMPLATE STYLES -------------------------------------------------------------------------------------------------------------- */
#headerWrapper {
    background: url('/assets/bkgHeader.gif') repeat-x bottom;
}

#powerBar {
    background: #d18433;
    height: 36px;
    min-width: 955px;
}

#powerBar h2 {
    text-indent: -9999px;
    font-size: 1px;
    background: url('/assets/bkgPowerBarTtl.gif') no-repeat;
    width: 330px;
    height: 36px;
    float: left;
}

#powerBar #tools {
    text-align: right;
    float: right;
    padding: 4px 48px 0px 0px;
}

#tools .button {
    padding: 2px 5px 0px 0px;
    float: left;
}

#tools .divider {
    background: url('/assets/imgPowerBarDivider.gif') no-repeat;
    width: 2px;
    height: 29px;
    margin-left: 14px;
    padding-right: 14px;
    float: left;
}

#tools a.feedback {
    color: #995b19;
    text-transform: uppercase;
    line-height: 105%;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 72px;
    height: 20px;
    background: url('/assets/btnTabFeedback.gif') no-repeat top;
    padding-top: 4px;
    margin-top: 4px;
    float: left;
}

#tools a.feedback:hover {
    background: url('/assets/btnTabFeedbackO.gif') no-repeat;
}

#tools #facebookWrapper {
    float: left;
    width: 90px;
    padding: 4px 0px 0px 0px;
}

#powerBarMinimized {
    background: #d18433;
    height: 6px;
    min-width: 955px;
}

.minMaxTab {
    position: absolute;
    width: 27px;
    height: 22px;
    right: 0;
    top: 0px;
    margin: 26px 12px 0px 0px;
}

.minMaxTab.minimized {
    margin-top: 1px;
}

#headerWrapper .container {
    width: 100%;
    margin: 0px auto;
    overflow: hidden;
}

#headerWrapper .container h1 {
    font-size: 1px;
    text-indent: -9999px;
    width: 227px;
    height: 127px;
    margin-left: 28px;
    float: left;
}

#headerWrapper .container h1 a {
    display: block;
    width: 100%;
    height: 100%;
}

#headerWrapper .container h2 {
    margin-top: 35px;
    font-size: 21px;
    color: #eaeaea;
}

#headerWrapper .container .announcement {
    margin-top: 35px;
    font-size: 15px;
    color: #eaeaea;
}

#headerWrapper .container h3 {
    text-align: right;
    margin-top: 35px;
    font-size: 21px;
    color: #eaeaea;
}

#searchPod {
    background: url('/assets/bkgSearch.png') no-repeat 0px 0px;
    overflow: hidden;
    width: 300px;
    float: right;
    margin-top: 40px;
}

#searchPod #searchInput {
    font-size: 12px;
    color: #7d99b6;
    line-height: 100%;
    width: 236px;
    border: 0;
    padding: 10px;
    margin: 0px;
    background-color: transparent;
    float: left;
}

#mainWrapper {
    background: #757983;
}

#mainWrapper .container {
    /*width: 955px;*/
    /*margin: 0px auto;*/
    /*overflow: hidden;*/
}

/*#mainWrapper .bottLine {background: url('/assets/imgContentBottLine.gif') no-repeat bottom #000; margin-bottom:30px;}*/

#footerWrapper {
    background: url('/assets/bkgFooter.gif') repeat-x;
    position: relative;
}

#footerWrapper .home {
    width: 955px;
    height: 109px;
    margin: 0px auto;
    /*background: url('/assets/phtHomeFishTail.jpg') 700px 0px no-repeat;*/
}

#footerWrapper .interior {
    width: 955px;
    height: 109px;
    margin: 0px auto;
    background: none;
}

#footerWrapper .content {
    font-size: 10px;
    color: #4d647c;
    width: 700px;
    padding-bottom: 30px; /*height:21px; */
    position: absolute;
    left: 30px;
    top: 33px;
}

#footerWrapper .content .logoA {
    float: left;
    padding-right: 7px;
}

#footerWrapper .content .logoB {
    float: left;
    padding-right: 15px;
}

#footerWrapper span {
    float: left;
    /*margin-top: -12px;*/
}

#footerWrapper #siteCredits {
    width: 118px;
    height: 21px;
    position: absolute;
    right: 30px;
    top: 50px;
}

#footerWrapper #siteCredits a {
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
    background: url('/assets/btnSiteCredits.png') no-repeat;
}

#footerWrapper #siteCredits a:hover {
    background: url('/assets/btnSiteCreditsO.png') no-repeat;
}

/* ----- HOMEPAGE CONTENT STYLES -------------------------------------------------------------------------------------------------------------- */

#headerWrapper .home {
    background: url('/assets/bkgHeaderHome.jpg') no-repeat;
}

#mainWrapper.home .container {
    /*position: relative;*/
}

#topCircs {
    position: absolute;
    width: 423px;
    height: 372px;
    right: 0px;
    top: 0px;
}

/* ----- GENERAL INTERIOR PAGE STYLES -------------------------------------------------------------------------------------------------------------- */
#headerWrapper .interior {
    background: url('/assets/bkgHeaderInt.jpg') no-repeat left bottom;
}

#mainWrapper.interior {
    padding-bottom: 50px;
}

#mainWrapper .interiorBkg {
    padding: 16px 35px 0px 35px;
}

#mainWrapper .interiorBkg.general {
    background: url('/assets/phtIntroAltC.jpg') no-repeat bottom;
}

#mainWrapper .interiorBkg.tagger {
    background: url('/assets/phtIntroStandingOnBoat.jpg') no-repeat bottom;
}

#mainWrapper .interiorBkg.start {
    background: url('/assets/phtIntroAltA.jpg') no-repeat bottom;
}

#mainWrapper .interiorBkg.whatIs {
   background: url('/assets/phtIntroAltB.jpg') no-repeat bottom;
}

#mainWrapper #primaryNav {
    overflow: hidden;
}

#mainWrapper #primaryNav a {
    font-size: 1px;
    text-indent: -9999px;
    display: block;
    width: 116px;
    height: 64px;
    float: left;
    margin-right: 10px;
}

#mainWrapper #primaryNav a.navTagger {
    background: url('/assets/btnNavTagger.gif') no-repeat;
}

#mainWrapper #primaryNav a.navTagger:hover, a.navTaggerHighlight {
    background: url('/assets/btnNavTaggerO.gif') no-repeat;
}

#mainWrapper #primaryNav a.navStart {
    background: url('/assets/btnNavStart.gif') no-repeat;
}

#mainWrapper #primaryNav a.navStart:hover, a.navStartHighlight {
    background: url('/assets/btnNavStartO.gif') no-repeat;
}

#mainWrapper #primaryNav a.navWhatIs {
    background: url('/assets/btnNavWhatIs.gif') no-repeat;
}

#mainWrapper #primaryNav a.navWhatIs:hover, a.navWhatIsHighlight {
    background: url('/assets/btnNavWhatIsO.gif') no-repeat;
}

/*#mainWrapper .intro { font-size:13px; color:#ccced3; padding:45px 0px 20px 0px; width:390px; _clear:both;}*/
#mainWrapper .intro {
    font-size: 11px;
    color: #FFF;
    padding: 50px 0px 0px 25px;
    width: 390px;
    height: 181px;
    _clear: both;
}

#mainWrapper .intro.bkgWhatIs {
    background: url('/assets/btnNavLineWhatIs.png') no-repeat;
}

#mainWrapper .intro.bkgStart {
    background: url('/assets/btnNavLineStart.png') no-repeat;
}

#mainWrapper .intro.bkgTagger {
    background: url('/assets/btnNavLineTagger.png') no-repeat;
}

#mainWrapper .intro h2 {
    font-size: 22px;
    line-height: 110%;
    color: #0c2341;
    padding-bottom: 5px;
}

#bkgSubNav {
    /*background: url('/assets/bkgSubNav.gif') repeat-y 26px 0px;*/
}

#subNav {
    width: 180px;
    float: left;
    margin: 0px 20px 10px 26px;
    padding: 10px 8px 8px 8px;
    background: url('/assets/imgSubNavHdr.gif') no-repeat, url('/assets/imgSubNavFtr.png') no-repeat bottom left, url('/assets/bkgSubNav.gif') repeat-y 0px 0px;
}

#subNav li {
    border-top: 1px dotted #FFF;
    background: url('/assets/imgBulletArrowWht.png') no-repeat 145px 10px;
}

#subNav li:hover {
    color: #FFF;
    background-color: #0c2341;
    cursor: pointer;
}

#subNav li:hover a {
    color: #FFF;
}

#subNav li a {
    color: white;
    line-height: 110%;
    border-bottom: none;
    display: block;
    padding: 7px;
}

#subNav li.last {
    border-bottom: 1px dotted #FFF;
}

.container.subNavFtr {
    /*background: url('/assets/imgSubNavFtr.gif') no-repeat bottom left;*/
    padding-bottom: 5px;
}

#logoutWrapper {
    margin-top: 30px;
}

#logoutWrapper a.btnSmall {
    background-color: #73767d;
    border: 1px solid #898b90;
}

#logoutWrapper a.btnSmall:hover {
    background-color: #b7bcc2;
}

#logoutWrapper input.btnSmall {
    background-color: #73767d;
    border: 1px solid #898b90;
}

#logoutWrapper input.btnSmall:hover {
    background-color: #b7bcc2;
}

#mainWrapper .contentWrapper {
    /*background: url('/assets/imgContentBottLine.gif') no-repeat bottom;*/
    /*overflow: hidden;*/
}

.head {
    font-size: 18px;
    color: #002143;
    line-height: 105%;
    padding-bottom: 14px;
}

.subHead {
    font-size: 13px;
    line-height: 110%;
    color: #ccced3;
    display: block;
    padding: 5px 0px 0px 0px;
}

.contentWrapper .tertHead {
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #002143;
    line-height: 105%;
    padding-bottom: 3px;
}

.contentWrapper ul li {
    line-height: 130%;
    padding-bottom: 1%;
}

.contentWrapper p {
    padding-bottom: 10px;
    margin-bottom: 0px;
}

.contentWrapper .nestedPod {
    background: #8e929c;
    padding: 20px;
    width: 20%;
    float: right;
    margin-left: 15px;
    margin-bottom: 15px;
    border: 1px solid #a7aab2;
}

#mainCol {
    float: left;
    width: 694px;
    _width: 650px;
    /*margin: 0px 28px 0px 0px;*/
    padding-top: 25px;
    border-top: 1px solid #91949c;
}

#mainCol .cms{
    line-height: 155%;
    background: #757983;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    margin: 0px;
    padding: 12px;
}

#mainCol .cms h1 {
    font-size: 19px;
    color: #002143;
    line-height: 0%;
    padding-bottom: 14px;

}

#mainCol .cms h2 {
    font-size: 16px;
    line-height: 110%;
    color: #ccced3;
    display: block;
    padding: 5px 0px 0px 0px;
}

#mainCol .cms h3 {
    font-size: 13px;
    line-height: 115%;
    color: #ccced3;
    display: block;
    padding: 5px 0px 0px 0px;
}

#mainCol p a {
    color: #9cd4d6;
    border-bottom: 1px dotted #9cd4d6;
}

#mainCol p a:hover {
    border-bottom: none;
}

.col1-2 {
    float: left;
    width: 48%;
}

.col2-2 {
    float: right;
    width: 48%;
}

.backToTop {
    padding-top: 20px;
}

.backToTop a {
    font-size: 11px;
    line-height: 120%;
    font-weight: bold;
    padding: 5px 15px 0px 0px;
    background: url('/assets/imgArrowUpWhite.png') no-repeat right 10px;
    width: auto;
    border-top: 1px solid #3f434d;
}

.backToTop a:hover {
    color: #75cbd1;
}

/* ----- SECTION-SPECIFIC INTERIOR PAGE STYLES -------------------------------------------------------------------------------------------------------------- */
/*newsroom*/
.newsIndex {
}

.newsIndex .articleFeatured {
    font-size: 12px;
    line-height: 140%;
    width: 664;
    padding: 30px 30px 18px 35px;
    margin: 0px 0px 30px 0px;
    background: #888b94;
}

.newsIndex .imgBlock {
    border: 1px solid #5e6169;
    float: left;
    margin: 3px 24px 10px 0px;
}

.newsIndex .articleUnit {
    /*float:left;*/
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: 18px;
    border-bottom: 1px dotted #75cbd1;
    overflow: hidden;
}

.newsIndex h3 a {
    font-size: 16px;
    line-height: 105%;
    color: #002143;
    display: block;
    padding: 0px 0px 15px 0px;
    border-bottom: none;
}

.newsIndex h3 a:hover {
    color: #75cbd1;
}

.newsIndex h4 a {
    font-size: 14px;
    line-height: 105%;
    color: #75cbd1;
    display: block;
    padding: 0px 0px 9px 0px;
    border-bottom: none;
}

/*.newsIndex h4 a:hover { color:#FFF;}*/
.newsIndex .date {
    color: #d6d7da;
    font-size: 11px;
    font-weight: bold;
    padding-bottom: 3px;
}

.newsIndex a.accent03 {
    font-size: 10px;
    color: #fdb76d;
    font-weight: bold;
    border-bottom: none;
}

.newsIndex a.accent03:hover {
    color: #FFF;
}

.newsIndex .col1-2, .newsIndex .col2-2 {
    padding: 10px;
    width: 45%;
}

.newsIndex .col1-2:hover, .newsIndex .col2-2:hover {
    background-color: #888b94;
    cursor: pointer;
}

/*news detail*/
.newsDetail {
}

/*.newsDetail h4.subhead {font-size:13px; color:#d6d7da; font-weight:bold; }*/
.newsDetail .dateContact {
    font-size: 10px;
    line-height: 110%;
    color: #75cbd1;
    padding: 5px 0px;
    border-top: 1px dotted #75cbd1;
    border-bottom: 1px dotted #75cbd1;
    margin: 0px 0px 20px 0px;
}

.featPhoto {
    float: right;
    width: 250px;
    border: 1px solid #5e6169;
    margin: 0px 0px 10px 10px;
    text-align: center;
}

.featPhoto .caption {
    font-size: 10px;
    color: #ccd1d1;
    line-height: 105%;
    background: #5e6169;
    padding: 8px;
}

.newsDetail .relatedItems {
    width: 100%;
    padding-top: 30px;
}

.newsDetail .relatedItems h4 {
    color: #75cbd1;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .05em;
    border-bottom: 1px dotted #75cbd1;
}

.newsDetail .relatedItems li {
    padding-bottom: 4px;
}

.newsDetail .relatedItems a {
    color: #FFF;
    line-height: 105%;
    text-decoration: none;
}

.newsDetail .relatedItems a:hover {
    color: #75cbd1;
    line-height: 105%;
    text-decoration: none;
}

/*news archive + search results*/
.archives-results ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.archives-results ul li {
    border-bottom: 1px solid #90949c;
    padding: 10px;
}

.archives-results ul li:hover {
    background-color: #666a76;
    cursor: pointer;
}

.archives-results li a {
    font-size: 13px;
    line-height: 120%;
    display: block;
    width: 100%;
    height: 100%;
}

.archives-results li .date {
    color: #666666;
    display: block;
}

.archives-results p.returned {
    font-size: 13px;
    color: #002143;
    font-weight: bold;
    padding: 10px 0px 30px 0px;
}

/*forms*/
#mainCol.forms {
    /*margin-right: 182px;*/
    width: 714px;
    _width: 678px;
}

.capture-card .content {
  background-color: #d6d7da;
}

.capture-card .header {
  background-color: #d28530;
}

form.styled .col1-1 {
    width: 70%;
}

form.styled .pod {
    color: #4c8c96;
    background: url('/assets/bkgFormPod.gif') repeat-y #d6d7da;
}

form.styled .gap {
    margin-top: 15px;
}

form.styled h3 {
    color: #002143;
    font-size: 11px;
    font-weight: bold;
    line-height: 110%;
    text-transform: uppercase;
    padding-bottom: 15px;
}

#mainCol form.styled p a {
    color: #4c8c96;
    border-bottom: none;
}

#mainCol form.styled p a:hover {
    color: #002144;
}

form.styled .podHdr {
    background: url('/assets/bkgFormPodHdr.gif') no-repeat;
    height: 18px;
    margin-left: 50px;
}

form.styled .podFtr {
    background: url('/assets/bkgFormPodFtr.gif') no-repeat;
    height: 18px;
    margin-left: 50px;
}

.symbolFish {
    background: url('/assets/bkgFormSymbFish.png') no-repeat
}

.symbolMap {
    background: url('/assets/bkgFormSymbMap.png') no-repeat
}

.symbolPin {
    background: url('/assets/bkgFormSymbPin.png') no-repeat
}

.symbolFdbck {
    background: url('/assets/bkgFormSymbFdbck.png') no-repeat
}

.symbolHook {
    background: url('/assets/bkgFormSymbHook.png') no-repeat
}

/*form.styled .unit { background:url('/assets/bkgFormDivider.gif') repeat-x bottom; padding-bottom:19px; padding-right:20px; margin:0px 0px 20px 97px; }
form.styled .singleField { display:block; padding:0px 0px 8px 30px; overflow:hidden;}
form.styled label { color:#002144; font-size:11px; line-height:110%; padding:5px 10px 0px 0px; margin:0px; text-align: right; float:left; width:100px; background-color:#d6d7da;}
form.styled .styledInput {font-size: 10px; color:#5c6068; line-height: 105%; padding:3px 6px; margin:0px; background-color:#FFF; border:1px solid #6b7c8f; float:left; width:150px;}*/

/*2 column form layouts:*/
form.styled label {
    width: 32%;
    color: #002144;
    font-size: 11px;
    line-height: 110%;
    padding: 5px 10px 0px 0px;
    margin: 0px;
    text-align: right;
    float: left;
    background-color: #d6d7da;
}

form.styled .styledInput {
    font-size: 10px;
    color: #5c6068;
    line-height: 105%;
    margin: 0px;
    background-color: #FFF;
    border: 1px solid #6b7c8f; /*float:left;*/
    width: 58%;
    padding: 3px;
}

/* For Signup page username, which has a grey background */
form.styled .styledInputGrey {
    font-size: 10px;
    color: #5c6068;
    line-height: 105%;
    margin: 0px;
    background-color: #aaaaaa;
    border: 1px solid #6b7c8f; /*float:left;*/
    width: 58%;
    padding: 3px;
}

form.styled .singleField {
    padding: 0px 0px 11px 0px;
    display: block;
    overflow: hidden;
    *overflow: visible;
    *width: 100%;
}

form.styled .unit {
    padding: 0px 15px 19px 15px;
    background: url('/assets/bkgFormDivider.gif') repeat-x bottom;
    margin: 0px 0px 20px 97px;
}

.detailExpansion .fish-holder {
    margin-top: 30px;
    margin-bottom: 5px;
}

form.styled .indent {
    margin-left: 35%;
}

form.styled .styledInput.doublewide {
    font-size: 10px;
    color: #5c6068;
    line-height: 105%;
    margin: 0px;
    background-color: #FFF;
    border: 1px solid #6b7c8f;
    width: 209px;
    padding: 3px;
}

form.styled label.doublewide {
    text-align: left;
    padding-bottom: 5px;
    width: 195px;
}

/*form.styled .overflowVis {overflow:visible;} necessary for IE7*/

form.styled .styledRadio {
    float: left;
}

form.styled label.styledRadio {
    color: #4c8c96;
    text-align: left;
    width: 85%;
    padding: 3px 0px 0px 8px;
}

form.styled .unit.noDivider {
    background: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

form.styled .detail {
    font-size: 10px;
    color: #5c6068;
    padding-top: 6px;
    text-transform: none;
    font-weight: normal;
}

form.styled a.btnSmall {
    color: #FFF; /*width:92px; margin-left:110px;*/
}

form.styled input.btnSmall {
    color: #FFF; /*width:92px; margin-left:110px;*/
}

form.styled .bold {
    font-weight: bold;
}

form.styled a.btnSmall.singleCol {
    width: 120px;
}

form.styled a.btnSmall.singleCol.signup, form.styled input.btnSmall.singleCol.signup {
  width: 208px;

}

form.styled a.btnSmall.singleCol.signup {
  margin-left: -10px;
}

form.styled input.btnSmall.singleCol.signup {
  margin-left: 32%;
}

form.styled input.btnSmall.singleCol {
    width: 120px;
}

form.styled .expansion {
    border-bottom: 1px solid #999;
    border-top: 1px solid #999;
    margin-top: 15px;
    padding: 10px 0px;
}

.expansion p {
    line-height: 130%;
}

.expansion a.btnSmall {
    width: 90px;
    margin-top: 20px;
}

.expansion input.btnSmall {
    width: 90px;
    margin-top: 20px;
}

form.styled .nested4col {
    overflow: hidden;
    padding-top: 10px;
}

.nested4col .column {
    float: left;
    width: 54px;
    padding: 0px 0px 5px 0px;
}

.nested4col .column.label {
    font-weight: bold;
    width: 50px;
    padding-right: 0px;
}

form.styled .nested4col .styledInput {
    width: 41px;
    padding: 2px;
}

form.styled .estWeight {
    font-size: 16px;
    float: left;
    padding: 7px 0px 0px 0px;
    border-bottom: 1px solid #999;
}

/*capture review*/
.captureReview {
}

.captureReview .unit {
    overflow: hidden;
    padding: 6px;
}

.captureReview .col1-2 {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    text-align: right;
    color: #75cbd1;
    width: 150px;
    float: left;
    padding-right: 20px;
}

.captureReview .col2-2 {
    width: 530px;
    _width: 500px;
    float: left;
}

.optionsWrapper {
    overflow: hidden;
    border-top: 1px solid #F93;
    margin-top: 30px;
    padding-top: 10px;
}

.optionsWrapper .btnSmall {
    padding-left: 20px;
    padding-right: 20px;
}

.captureReview .alt {
    background: #696e79;
}

.captureReview #thanks {
    font-size: 14px;
}

/*events*/
.calControls {
    color: #FFF;
    float: left;
    width: 683px;
    background: #888b94;
    padding: 3px;
    height: 23px;
    margin-bottom: 30px;
}

.calControls .btnViewCal {
    float: right;
    width: 200px;
}

.calControls .btnViewCal a {
    font-size: 10px;
    color: #fff;
    line-height: 100%;
    display: block;
    float: right;
    border: 1px solid #5e6169;
    padding: 4px 8px;
    margin: 1px 1px 0px 0px;
    text-decoration: none;
}

.calControls .btnViewCal a:hover {
    color: #FFF;
    text-decoration: none;
    background: #002143;
}

.viewOptions {
    color: #FFF;
    width: 150px;
    padding: 15px;
    background: #888b94;
}

.viewOptions ul {
    padding: 12px 0px 0px 0px;
    margin: 0px;
    list-style-type: none;
}

.viewOptions ul li {
    line-height: 110%;
    padding-bottom: 11px;
    overflow: hidden;
}

.viewOptions .check {
    float: left;
    width: auto;
    margin-right: 10px;
    padding: 0px;
    _clear: left;
}

.viewOptions label {
    font-size: 11px;
    font-style: italic;
    padding: 4px 0px 0px 0px;
    float: left;
    width: 100px; /*Hacks:*/
    padding-top: 1 px\9;
    *padding-top: 4px;
}

.viewOptions .btnSmall {
    margin-top: 10px;
    width: 50%;
}

.prevNext {
    float: left;
    width: 300px;
    padding: 3px 0px 3px 2px;
}

.prevNext a {
    font-size: 11px;
    color: #b8bbc4;
    line-height: 100%;
    text-align: center;
    padding: 4px 8px;
    text-decoration: none;
    background: #5e6169;
}

.prevNext a:hover {
    background: #FFF;
    color: #5e6169;
    text-decoration: none;
}

.calendar a {
    border-bottom: 0px;
}

.calendar h3.month {
    font-size: 19px;
    line-height: 105%;
    color: #d6d7da;
    text-transform: uppercase;
    clear: left;
    padding: 20px 0px 10px 0px;
    margin: 0px;
}

.calendar h3.first {
    padding-top: 0px;
}

.calendar .unit {
    float: left;
    width: 68%;
    border-bottom: 1px dotted #002143;
    padding-bottom: 12px;
    margin: 10px 0px;
}

.calendar .date {
    font-size: 20px;
    color: #fdb76d;
    text-align: center;
    float: left;
    width: 70px;
    padding: 0px;
}

.calendar .date .month {
    font-size: 10px;
    line-height: 100%;
    text-transform: uppercase;
    display: block;
    padding-bottom: 5px;
}

.calendar .eventTitles {
    float: left; /*width:500px; */
    width: 397px;
}

.calendar .eventTitles ul {
    margin: 0px;
    padding: 20px 0px 12px 30px;
    list-style-type: none;
}

.calendar .eventTitles ul li {
    line-height: 110%;
    padding-bottom: 8px;
}

a.event {
    font-size: 14px;
    line-height: 105%;
    color: #002143;
    display: block;
    padding-bottom: 4px;
    text-decoration: none;
}

a.event:hover {
    color: #FFF;
    text-decoration: none;
}

.calendar .cancelled {
    color: #cb4121;
    font-size: 10px;
    font-weight: bold;
}

.calendar .unit.calDtl {
    padding: 0px;
    margin: 0px;
    border-bottom: 0px;
    width: 65%;
}

.calendar .calDtlEventTitle {
    font-size: 20px;
    line-height: 110%;
    color: #002143;
    display: block;
    padding: 0px 0px 20px 0px;
}

.calendar .calDtlDate {
    color: #d6d7da;
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 5px;
    display: block;
}

.calendar .calDtlDescrip {
    padding-top: 20px;
}

/*.calendar .calDtlDetails {padding:25px; margin:18px 0px; border:1px solid #7a984f;}
	.calendar .calDtlDetails a { color:#4b5458;}
	.calendar .calDtlDetails a:hover { color:#3f8db5;}*/

/*small nested calendar*/
#nestedCalWrapper {
    color: #FFF;
    width: 29%;
    float: right;
    background: #888b94;
}

#nestedCalWrapper table {
}

#nestedCalWrapper h3 {
    color: #fdb76d;
    font-size: 10px;
    background: #757983;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 5px;
}

#nestedCalWrapper .monthWrapper {
    font-weight: bold;
    font-size: 11px;
    line-height: 105%;
    text-align: center;
    background: #5e6169;
    height: 18px;
    padding: 0px;
}

#nestedCalWrapper .monthWrapper .leftInfo {
    float: left;
    width: 18px;
}

#nestedCalWrapper .monthWrapper .centerInfo {
    color: #FFF;
    text-align: center;
    margin: 0px 26px;
    padding-top: 3px;
}

#nestedCalWrapper .monthWrapper .rightInfo {
    float: right;
    width: 18px;
    text-align: right;
}

#nestedCalWrapper  .weekDays {
    font-size: 11px;
    color: #002143;
}

#nestedCalWrapper  .weekDaysBorder {
    border-top: 1px solid #3e4148;
    height: 2px;
    padding: 0px;
}

#nestedCalWrapper  td.eventDate a {
    display: block;
    width: 100%;
    height: 100%;
    color: #002143;
    background: #a1a3aa;
    text-decoration: none;
}

#nestedCalWrapper  td.eventDate a:hover {
    color: #FFF;
    background: #5e6169;
    text-decoration: none;
}

#nestedCalWrapper  td.prevNxtMonth {
    color: #3e4148;
}

#nestedCalWrapper #submitEventWrapper {
    text-align: center;
    background: #757983;
    padding: 30px 40px;
}

/*dashboard & find a spot*/
.dashboard {
}

.dashboard #welcome {
    color: #0c2341;
    font-size: 14px;
    padding-bottom: 30px;
}

.dashboard #welcome .lnk {
    font-size: 11px;
    color: #0c2341;
    font-style: italic;
    padding-top: 5px;
}

.dashboard #welcome .lnk:hover {
    color: #fcb76e;
}

.dashboard #taggedTotals {
    padding: 0px 0px 0px 75px;
    margin-bottom: 40px;
    overflow: hidden;
    background: url('/assets/bkgDashboardReviewBig.png') no-repeat;
    height: 492px;
}

.dashboard #taggedTotals h3 {
    font-size: 14px;
    width: 400px;
    float: left;
}

.dashboard #taggedTotals .column {
    text-align: center;
    width: 170px;
    float: left;
    padding: 0px 15px;
    height: 166px;
}

.dashboard #taggedTotals .column2 {
    text-align: center;
    width: 232px;
    float: left;
    padding: 0px 15px;
    height: 166px;
}

.dashboard #taggedTotals .column3 {
    text-align: center;
    width: 217px;
    float: left;
    padding: 0px 23px;
    height: 166px;
}

.dashboard #taggedTotals .number {
    font-size: 36px;
    line-height: 100%;
    width: 110px;
    border-bottom: 1px dotted #ee9e4a;
    padding: 28px 0px 14px 0px;
    margin: 0px auto 14px auto;
}

.dashboard #taggedTotals .borderRt {
    border-right: 3px solid #5e6169;
}

.dashboard #taggedTotals .descrip {
    line-height: 120%;
}

.dashboard #species_list {
    border: 3px solid #5E6169;
    border-radius: 8px;
    margin-left: 38px;
    padding-bottom: 20px;
    padding-left: 19px;
    padding-top: 20px;
}

.dashboard #species_list .column {
    width: 300px;
    float: left;
    padding-left: 13px;
}

.dashboard #species_list .leftCol {
    width: 180px;
}

.dashboard #species_list .rightCol {
    text-align: right;
}

.dashboard #species_list .header {
    font-size: 22px;
    font-weight: bold;
    line-height: 140%;
    text-align: center;
}

.dashboard #species_list th {
    font-size: 13pt;
    text-align: left;
    padding: 5px;
}

.dashboard #species_list td {
    font-size: 13pt;
    border: 2px solid #5e6169;
    padding: 5px;
}

.dashboard #species_list td.total {
    font-weight: bold;
}

.dashboard #species_list table {
    line-height: 260%;
    margin: 0 auto;
    width: 293px;
}

.dashboard h3 .secondary {
    font-size: 12px;
}

.dashboard #mapPod {
    background: #878b94;
    margin-bottom: 20px;
    padding: 20px 20px 20px;
}

#mapPod #legend {
    overflow: hidden;
    padding-bottom: 10px;
}

#mapPod #legend .icon {
    float: left;
    width: 28px;
}

#mapPod #legend .label {
    color: #40434c;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    float: left;
    width: auto;
    padding: 10px 30px 0px 10px;
}

#mapPod .resetMap {
    width: 100px;
    float: right;
}

#mapPod .padBott {
    margin-bottom: 10px;
}

#mapPod .searchCaptures, #mapPod .searchSpots {
    line-height: 125%;
    /*background: url('/assets/imgIconFishLrg.png') no-repeat 0px 35px;*/
    padding: 10px 0px 0px 0px;
    margin: 15px 0px 0px 0px;
    overflow: hidden;
}

#mapPod input, #mapPod select {
    height: 24px;
    width: 175px;
    font-size: 10px;
    color: #40434c;
    border: 1px solid #767e86;
    padding: 4px;
    background: #cbced4;
}

#mapPod .searchCaptures input.date {
    width: 65px;
    height: 22px;
}

#mapPod .searchCaptures h4, #mapPod .searchSpots h4 {
    font-size: 16px;
    color: #d4d4d5;
    width: auto;
    padding-bottom: 10px;
}

#mapPod .searchCaptures .searchFldsWrapper {
    border: 1px solid #333;
    overflow: hidden;
    padding: 11px 11px 16px 57px;
}

#mapPod .searchCaptures .col1-3 {
    width: auto;
    float: left;
}

#mapPod .searchCaptures .col2-3 {
    width: auto;
    float: left;
}

#mapPod .searchCaptures .col3-3 {
    width: auto;
    float: left;
    padding-left: 15px;
}

#mapPod .searchCaptures .col4-3 {
    width: auto;
    float: left;
    padding-left: 15px;
}

#mapPod .searchCaptures .or {
    font-size: 10px;
    color: #002143;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 20px 0px 20px;
    float: left;
    width: auto;
}

#mapPod .searchCaptures .btnSmall {
    background-color: #43566c;
    margin-top: 15px;
}

/*buttons*/
#mapPod .searchCaptures .btnSmall {
    color: #FFF;
    font-size: 11px;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
    background: url('/assets/bkgBtnGradient.png') repeat-x bottom #43566c;
    border: 1px solid #9ea4a9;
    padding: 5px 8px;
    display: block;
    width: auto;
}

#mapPod .searchCaptures .btnSmall:hover {
    background-color: #b7bcc2;
}

form.captures-search-form input.btnSmall.inline {
    width: auto;
    float: left;
    margin-right: 20px;
}

#mapPod .searchCaptures .btnSmall:hover {
    background-color: #c7cace;
    cursor: pointer;
}

#mapPod .searchCaptures .by {
    color: #002143;
    font-weight: bold;
    padding-bottom: 3px;
}

#mapPod .searchSpots {
    padding-top: 20px;
    padding-bottom: 5px;
    background-position: 0px 8px;
}

#mapPod .searchSpots h4 {
    float: left;
    margin-right: 20px;
    padding-top: 3px;
}

#mapPod .searchSpots input {
    float: left;
    height: 15px;
    margin-right: 2px;
    width: 37px;
}

#mapPod .searchSpots select {
    height: 25px;
    width: 51px;
    float: left;
}

#mapPod .searchSpots label {
    float: left;
    margin-left: 8px;
    margin-right: 10px;
    margin-top: 2px;
}


#mapPod .searchSpots .btnSmall {
    float: left;
    width: auto;
    padding-top: 6px;
    padding-bottom: 4px;
    height: 25px;
}

.listing a.unit, .listing .unit {
    overflow: hidden;
    border-bottom: 1px dotted #CCC;
    display: block;
    width: 683px;
    padding: 3px;
}

.listing a.unit:hover {
    background: #5c606b;
}

.listing .unit.on {
    background: #5c606b;
}

.listing .ttlBar {
    text-transform: uppercase;
    color: #75cbd1;
    font-weight: bold;
    overflow: hidden;
    border-bottom: 4px solid #CCC;
    margin-bottom: 10px;
}

.listing .ttlBar a {
    font-size: 10px;
    text-transform: none;
    font-weight: normal;
    font-style: italic;
}

.listing .ttlBar a:hover {
    color: #dfe0e1;
}

.listing .ttlBar .on {
    background: #5c606b;
}

.listing .col1-4 {
    float: left;
    width: 27%;
}

.listing .col2-4 {
    float: left;
    width: 27%;
}

.listing .col3-4 {
    float: left;
    width: 27%;
}

.listing .col4-4 {
    float: left;
    width: 19%;
}

.listing .col1-5 {
    float: left;
    width: 20%;
}

.listing .col2-5 {
    float: left;
    width: 20%;
}

.listing .col3-5 {
    float: left;
    width: 20%;
}

.listing .col4-5 {
    float: left;
    width: 20%;
}

.listing .col5-5 {
    float: left;
    width: 20%
}

.dashboard .detailExpansion {
    font-size: 12px;
    line-height: 125%;
    background: #5c606b;
    overflow: hidden;
    padding: 20px 20px 20px 30px;
    position: relative;
}

#mainCol.dashboard .detailExpansion a {
    /*font-style: italic;*/
    border-bottom: none;
}

.dashboard .detailExpansion h3 {
    font-size: 14px;
    line-height: 105%;
    padding-bottom: 2px;
    margin-bottom: 10px;
    border-bottom: 1px solid #FFF;
    width: 617px;
}

.dashboard .detailExpansion h4 {
    color: #fdb76d;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
}

.dashboard .detailExpansion .col1-1 {
    float: left;
    width: 500px;
}

.dashboard .detailExpansion .col1-2 {
    float: left;
    width: 240px;
    padding-right: 20px;
    _width: 230px;
    _padding-right: 0px;
}

.dashboard .detailExpansion .col2-2 {
    float: left;
    width: 240px;
}

.dashboard .imgBlock {
    border: 1px solid #000;
    float: left;
    margin: 3px 24px 10px 0px;
}

#mainCol.dashboard .detailExpansion a.close {
    font-size: 10px;
    font-style: normal;
    color: #9699a0;
    text-transform: uppercase;
    line-height: 110%;
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 8px 7px 7px 27px;
    background: url('/assets/btnExpansionClose.gif') no-repeat 6px 6px #40434c;
}

.dashboard .detailExpansion a.close:hover {
    background-color: #282b34;
}

.spotListing {
    overflow: hidden;
}

.spotListing .col1-2 {
    width: 320px;
    float: left;
    margin-right: 46px;
}

.spotListing .col2-2 {
    width: 320px;
    float: left;
}

.spotListing .parishUnit {
    padding-bottom: 30px;
}

.spotListing h4 {
    font-size: 12px;
    line-height: 110%;
    text-transform: uppercase;
    color: #75cbd1;
    font-weight: bold;
    border-bottom: 1px dotted #FFF;
    padding-bottom: 3px;
    margin-bottom: 10px;
}

.spotListing a.spotName {
    font-size: 12px;
    line-height: 110%;
    display: block;
    padding-bottom: 10px;
}

.spotListing a.spotName:hover {
    color: #fdb76d;
}

.spotListing a.spotName.on {
    color: #fdb76d;
    font-weight: bold;
}

.spotListing .detailExpansion {
    font-size: 10px;
    color: #2b2d32;
    line-height: 130%;
    background: #878b94;
    position: inherit;
    padding: 10px;
    margin-bottom: 15px;
}

.spotListing .detailExpansion .imgBlock {
    border: 1px solid #494d55;
    float: left;
    margin: 0px 18px 10px 0px;
}

.spotListing .detailExpansion h5 {
    font-weight: bold;
    font-size: 10px;
    color: #75cbd1;
    text-transform: uppercase;
    padding-top: 10px;
}

#mainCol.dashboard .spotListing .detailExpansion a {
    font-style: normal;
    color: #2b2d32;
}

/*My Tags*/
.myTags {
}

.myTags #myCaptures {
    padding: 23px 20px 17px 100px;
    margin-bottom: 50px;
    background: url('/assets/imgIconFishLrg.png') no-repeat 25px 14px #878B94;
    overflow: hidden;
}

.myTags #myCaptures h4 {
    color: #D4D4D5;
    float: left;
    font-size: 16px;
    padding: 3px 8px 10px 0;
}

.myTags #myCaptures .number {
    color: #ffffff;
    display: inline;
    float: left;
    font-size: 22px;
    line-height: 100%;
}

.myTags #myCaptures .myCapturesDivider {
    border-right: 1px dotted #EE9E4A;
    float: left;
    height: 25px;
    margin-left: 40px;
    margin-right: 40px;
}

.myTags .listing {
    position: relative;
}

.myTags .col1-4, .myTags .col2-4 {
    position: relative;
}

.myTags a.btnView {
    font-size: 10px;
    line-height: 110%;
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 3px 4px;
    background: #5e6169;
}

.myTags a.btnView:hover {
    background: #d18433;
}

/*Species Guide*/
.speciesGuide {
}

#speciesSearch {
    padding: 20px;
    margin-bottom: 50px;
    background: url('/assets/imgIconFishLrg.png') no-repeat 25px 14px #878b94;
    overflow: hidden;
}

#speciesSearch h4 {
    font-size: 16px;
    color: #d4d4d5;
    width: auto;
    padding: 3px 20px 0px 80px;
    float: left;
}

#speciesSearch form {
    width: 310px;
    float: left;
}

#speciesSearch form input {
    color: #FFF;
    font-size: 12px;
    line-height: 100%;
    float: left;
    background: #a6a9b0;
    border: 1px solid #5d6a78;
    padding: 4px 7px;
    width: 250px;
}

#speciesSearch .btnSmall {
    float: right;
    padding-bottom: 6px;
    padding-top: 6px;
    border-color: #5d6a78;
    background-color: #43566c;
    width: 32px;
}

#speciesSearch .btnSmall:hover {
    color: #43566c;
    background-color: #c7cace;
}

/*Target ONLY Chrome & Safari Browsers:*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    #speciesSearch .btnSmall {
        margin-top: 2px;
    }
}

.speciesGuide .displayTools.top {
    margin-bottom: 40px;
}

.speciesGuide .unit {
}

.speciesGuide .col1-4 {
    width: 155px;
}

.speciesGuide .unit .col2-4 {
    font-size: 12px;
    font-weight: bold;
}

.speciesGuide .unit .col3-4, .speciesGuide .unit .col4-4 {
    font-style: italic;
}

.speciesGuide .col2-4, .speciesGuide .col3-4 {
    padding-right: 10px;
}

.speciesGuide .imgBlock {
    border: 1px solid #000;
    float: left;
}

.speciesGuide .detailLabel {
    color: #75cbd1;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
}

.speciesGuide .head {
    width: 60%;
}

/* ----- GENERAL STYLES -------------------------------------------------------------------------------------------------------------- */
/*floats*/
.floatLeft {
    float: left;
}

.floatLeftFullWdth {
    float: left;
    width: 100%;
}

.floatRight {
    float: right;
}

.clearLeft {
    clear: left;
}

.clearLeftWithPadding {
    clear: left;
    padding: 60px;
}

.clearRight {
    clear: right;
}

.clearBoth {
    clear: both;
}

/*accents*/
.accent01 {
    color: #002143;
}

/*dark blue*/
.accent02 {
    color: #75cbd1;
}

/*aqua*/
.accent03 {
    color: #fdb76d;
}

/*grey*/
.accentGreyItalics {
    color: grey;
    font-style: italic;
}

/*orange*/

/*ul*/
ul.stripped {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

/*buttons*/
a.btnSmall {
    color: #FFF;
    font-size: 11px;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
    background: url('/assets/bkgBtnGradient.png') repeat-x bottom #c7cace;
    border: 1px solid #9ea4a9;
    padding: 5px 8px;
    display: block;
}

a.btnSmall:hover {
    background-color: #b7bcc2;
}

a.btnSmall.inline {
    width: auto;
    float: left;
    margin-right: 20px;
}

/*buttons*/
input.btnSmall {
    color: #FFF;
    font-size: 11px;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
    background: url('/assets/bkgBtnGradient.png') repeat-x bottom #c7cace;
    border: 1px solid #9ea4a9;
    padding: 5px 8px;
    display: block;
}

input.btnSmall:hover {
    background-color: #b7bcc2;
}

input.btnSmall.inline {
    width: auto;
    float: left;
    margin-right: 20px;
}

/*multi-page items*/
.RSSFeed {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-bottom: 10px;
}

.RSSFeed a {
    text-indent: -9999px;
    font-size: 1px;
    background: url('/assets/imgRSSFeed.png') no-repeat;
    display: block;
    width: 20px;
    height: 20px;
    float: right;
}

.RSSFeed a:hover {
    background: url('/assets/imgRSSFeedO.png') no-repeat;
}

/*display tools -------------------------*/
.displayTools {
    height: 21px;
    padding: 0px;
    width: 99%;
    overflow: hidden;
}

.displayTools a {
    font-size: 10px;
    color: #75cbd1;
    text-decoration: none;
}

.displayTools a:hover {
    color: #FFF;
    text-decoration: none;
}

.displayTools .leftInfo {
    float: left;
    width: 80px;
}

.displayTools .centerInfo {
    color: #75cbd1;
    text-align: center;
    margin: 0px 90px;
}

.displayTools .rightInfo {
    float: right;
    width: 80px;
    text-align: right;
}

.displayTools.top {
    border-bottom: 1px dotted #75cbd1;
    margin-bottom: 28px;
}

.displayTools.bottom {
    border-top: 1px dotted #75cbd1;
    margin-top: 45px;
    padding-top: 8px;
}

.inline {
    display: inline;
}

.icon-remove {
  color: red
}

.icon-ok {
  color: blue;
}

.link-color a{
    color: darkblue;
}

/*static map in dashboard captures detail view */
.static-map {
    position: relative;
    top: 0px;
    left: 75px;
}

.fish-photo {
    position: relative;
    left: 75px;
}

.contactUs {
   float: left;
   width: 60%;
}