body {
    background: #FFF;
}

#prntrWrapper {
    color: #3c3f46;
    width: 85%;
    margin: 0px auto;
}

.containerHdr {
    padding: 0px 0px 30px 0px;
}

.btnWrapper {
    padding-top: 25px;
    float: right;
    width: 141px;
}

.containerMain {
}

#prnFtrWrapper {
    background: #e9eaec;
    margin: 20px 0px 0px 0px;
    padding: 7px 0px;
    float: left;
    width: 100%;
}

.containerFtr {
    width: 85%;
    margin: 0px auto;
}

.containerFtr a {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #002143;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
}

.containerFtr a:hover {
    color: #67696e;
    text-decoration: none;
}

#centerCol {
    float: left;
    width: 100%;
    margin: 0px;
}

#centerColNonNws {
    float: left;
    width: 100%;
    margin: 0px;
}

.phtFeatured {
    margin: 0px 20px 20px 0px;
    float: left;
    width: 448px;
}

#intMainCol {
    width: 100%;
}