<div id="powerBar">
  <!--<h2>Member of the Sportsman’s Paradise Network</h2>-->
  <!--<h2>Member of the Sportsman’s Paradise Network</h2>-->
  <div id="tools">
    <!--<a href="#" class="feedback">Feedback</a>-->
    <!--<div class="divider"></div>-->
    <!--<a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('imgIconPrint','','/assets/imgIconPrintO.gif',1)">-->
    <!--<img src="/assets/imgIconPrint.gif" alt="Print" name="imgIconPrint" width="25" height="25" border="0" id="imgIconPrint" title="Print this page" class="button" />-->
    <!--</a>-->
    <!--<a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('imgIconRss','','/assets/imgIconRssO.gif',1)">-->
    <!--<img src="/assets/imgIconRss.gif" alt="RSS" name="imgIconRss" width="25" height="25" border="0" id="imgIconRss" title="Sign Up for Our RSS Feed" class="button" />-->
    <!--</a>-->
    <!--<div class="divider"></div>-->
    <a href="https://www.facebook.com/tag.louisiana" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('imgIconFacebook','','/assets/imgIconFacebookO.gif',1)">
      <img src="/assets/imgIconFacebook.gif" alt="Visit us on Facebook" name="imgIconFacebook" width="25" height="25" border="0" id="imgIconFacebook" title="Friend us on Facebook" class="button" />
    </a>
    <a href="http://www.twitter.com/#!/LDWF" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('imgIconTwitter','','/assets/imgIconTwitterO.gif',1)">
      <img src="/assets/imgIconTwitter.gif" alt="Visit Us On Twitter" name="imgIconTwitter" width="25" height="25" border="0" id="imgIconTwitter" title="Follow us on Twitter" class="button" />
    </a>
    <a href="http://www.youtube.com/user/LAWildlifefish" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('imgIconYouTube','','/assets/imgIconYouTubeO.gif',1)">
      <img src="/assets/imgIconYouTube.gif" alt="Visit Our YouTube Site" name="imgIconYouTube" width="25" height="25" border="0" id="imgIconYouTube" title="Watch Our Videos" class="button" />
    </a>
    <a href="http://www.flickr.com/photos/ldwffisheries/" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('imgIconFlickr','','/assets/imgIconFlickrO.gif',1)">
      <img src="/assets/imgIconFlickr.gif" alt="Visit Our Flickr Site" name="imgIconFlickr" width="25" height="25" border="0" id="imgIconFlickr" title="View Our Photos" class="button" />
    </a>
    <!-- We don't need this! ...probably...
    <a href="" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('imgIconShare','','/assets/imgIconShareO.gif',1)"><img src="/assets/imgIconShare.gif" alt="Share This Site" name="imgIconShare" width="25" height="25" border="0" id="imgIconShare" title="Share This Site!" class="button" /></a>
    -->
    <div class="divider"></div>
    <div id="facebookWrapper">
      <script src="https://connect.facebook.net/en_US/all.js#xfbml=1"></script>
      <fb:like layout="button_count"></fb:like>
    </div>
  </div><!--END: tools-->
</div><!--END: powerBar-->
<!-- ----------- END OF *MAXIMIZED* POWER TAB ----------- -->