<!-- ----------- BEGINNING OF *MINIMIZED* POWER TAB ----------- -->
<div class="minPowerBar minMaxTab minimized" style="display: none">
  <img class="showMaxPowerBarButton" src="/assets/btnPowerBarMaximize.png" alt="minimize" border="0" title="Minimize This Bar" />
</div><!--END: minMaxTab-->
<div id="powerBarMinimized" style="display: none"></div><!--END: powerBar-->
<!-- ----------- END OF *MINIMIZED* POWER TAB ----------- -->