<div id="mainWrapper" class="interior">
  <div class="container subNavFtr">
    <div class="interiorBkg">
      <%= render 'nav/primary' %>
      <% if @signed_in %>
        <div class="intro bkgTagger">
          <!--<h2>Enter a Tag</h2>-->
          <!--This form allows you to choose the tags that are assigned to you, and to enter the capture and release information for that tagged fish.-->
        </div>
        </div>
        <div id="bkgSubNav">
          <div class="contentWrapper">
            <!--subnav-->
            <%= render 'nav/signin' %>
      <% else %>
        <div class="intro bkgWhatIs">
          <!--<h2>Enter a Tag</h2>-->
          <!--This form allows you to choose the tags that are assigned to you, and to enter the capture and release information for that tagged fish.-->
        </div>
        </div>
        <div id="bkgSubNav">
          <div class="contentWrapper">
            <!--subnav-->
            <%= render 'nav/wat' %>
      <% end %>

        <div id="mainCol" class="forms captureReview">
          <!--<div class="head">
            <h3>Login</h3>
          </div>-->
          <div class="head">
            <h3>Thank You!</h3>
          </div>
          <% if @signed_in %>
            <p>As always, we appreciate your participation in our tagging program. <br />
             What would you like to do next?</p>
          <% else %>
            <p>Thank you for submitting your information. You will be contacted soon about your reward. </p>
          <% end %>
          <div class="optionsWrapper"><a href="<%= @signed_in ? new_my_capture_path : new_non_registered_capture_path %>" class="btnSmall inline">Enter a new capture</a><% if @signed_in %><a href="<%= new_tag_path %>" class="btnSmall inline">Order more tags</a><% end %></div>
        </div><!--END: mainCol-->
      </div><!--END: contentWrapper-->
    </div><!--END: bkgSubNav-->
  </div><!--END: container-->
</div><!--END: mainWrapper-->
</div>