<div id="primaryNav">
  <a href="<%= my_captures_path %>" class="<%=  (params[:came_from] == 'what') ? 'navTagger' : 'navTaggerHighlight' %>">I'm a tagger!</a>
  <a href="<%= new_sign_up_path %>" class="navStart">I'd like to start tagging</a>
  <a href="<%= about_index_path %>" class="<%= (params[:came_from] == 'what') ? 'navWhatIsHighlight' : 'navWhatIs' %>">What is tagging anyway?</a>
</div>