<div id="subNav">
  <ul class="stripped">
    <li class='last'><a href="<%= about_index_path%>">About Tagging</a></li>
    <!--<li class='last'><a href="#">Sign-up</a></li>-->
    <!-- Don't need this for now
    <li class="last"><a href="#">Events</a></li>
    -->
  </ul>

  <% if session[:auth_token].nil? %>
      <%=  button_to "Log In", {:controller => :sessions, :action => 'new'}, :method => :get, :id => 'session-button' %>
  <% else %>
      <%=  button_to "Log Out", {:controller => :sessions, :action => 'destroy', :id => 0}, :method => :delete, :id => 'session-button'%>
  <% end %>
</div>