<div id="subNav">
  <ul class="stripped">
    <li><a href="<%= dashboard_path %>">My Dashboard</a></li>
    <li><a href="<%= my_captures_path %>">My Captures</a></li>

    <% if has_pending_captures? %>
        <li><a href="<%= draft_captures_path %>">My Pending Captures</a></li>
    <% end %>

    <li><a href="<%= volunteer_hours_path %>">Enter Capture</a></li>
    <li><a href="<%= new_tag_path %>">Order Tags</a></li>
    <li><a href="<%= about_index_path %>">About</a></li>
    <li><a href="<%= how_to_guide_index_path %>">How-To</a></li>

    <!--<li><a href="<%= marinas_path %>">Find a Spot</a></li>-->

    <!--<li><a href="<%= species_index_path %>">Common Fish</a></li>-->
    <!--<li class="last"><a href="<%= species_index_path(:target => true) %>">Target Fish</a></li>-->
    <li><a href="<%= contact_us_path %>">Contact Us</a></li>
    <% if current_user %>
      <li><a href="<%= users_edit_path %>">Account Settings</a></li>
    <% end %>
    <li><a href="<%= faq_path %>">FAQ</a></li>
    <li><a href="<%= privacy_policy_path %>">Privacy Policy</a></li>
  </ul>

  <%=  button_to "Log Out", destroy_user_session_path, :method => :delete, :id => 'session-button' unless current_user.nil? %>
</div>