<div id="subNav">
  <ul class="stripped">
    <li><a href="<%= about_index_path %>">About</a></li>
    <!-- Don't need this for now
    <li><a href="#">News</a></li>
    -->
    <!--<li><a href="#">Licensing</a></li>-->
    <!--<li><a href="<%= species_index_path :came_from => "what" %>">Common Fish</a></li>-->
    <!--<li><a href="<%= species_index_path :target => true, :came_from => "what" %>">Target Fish</a></li>-->
    <!--<li><a href="<%= marinas_path :came_from => "what" %>">Find a Spot</a></li>-->
    <li class="last"><a href="<%= how_to_guide_index_path :came_from => "what" %>">How To</a></li>
    <li><a href="<%= privacy_policy_path :came_from => "what" %>">Privacy Policy</a></li>
  </ul>

  <%=  button_to "Log Out", destroy_user_session_path, :method => :delete, :id => 'session-button' unless current_user.nil? %>
</div>