<!DOCTYPE html>
<html>
<head>
  <title>Tag Louisiana</title>
  <!--stylesheets-->
  <%= stylesheet_link_tag '//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag '//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css' %>
  <%= stylesheet_link_tag 'bootstrap-select.min' %>

  <%= stylesheet_link_tag 'jquery-ui-1.10.4.custom' %>
  <%= stylesheet_link_tag 'validationEngine.jquery' %>


  <%= stylesheet_link_tag 'leaflet/leaflet-0.7.2' %>
  <%= stylesheet_link_tag 'leaflet/MarkerCluster' %>
  <%= stylesheet_link_tag 'leaflet/MarkerCluster.Default' %>

  <link href='//fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag 'application' %>

  <!--scripts-->
  <%= javascript_include_tag 'https://maps.google.com/maps/api/js?sensor=false' %>

  <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js' %>
  <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js' %>
  <%= javascript_include_tag '//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js' %>

  <%= javascript_include_tag 'jquery_ujs' %>
  <%= javascript_include_tag 'jquery/jquery.inputmask.bundle' %>
  <%#= javascript_include_tag 'jquery/jquery.inputmask.extensions' %>

  <%= javascript_include_tag 'jquery/jquery.validationEngine' %>
  <%= javascript_include_tag 'jquery/jquery.validationEngine-en' %>
  <%#= javascript_include_tag 'jquery/jquery.validationEngine-en-custom' %>

  <%= javascript_include_tag 'sugar.min' %>

  <!-- leaflet JS -->
  <!--<script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>-->
  <%= javascript_include_tag 'leaflet/leaflet_old' %>
  <%= javascript_include_tag 'leaflet/leaflet.markercluster-src' %>
  <%= javascript_include_tag 'leaflet/esri-leaflet' %>

  <%= javascript_include_tag 'application' %>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <%= csrf_meta_tags %>

  <%= yield :head %>
</head>
<!--<body>-->
<body>

<%#= render 'common/max_power_bar' %>
<%#= render 'common/min_power_bar' %>

<div id="headerWrapper">
  <div class="container interior">
    <div class="row content">
      <div class="col-md-3"><h1><a href="<%= root_path %>">TAG LOUISIANA</a></h1></div>
      <div class="col-md-4"><h3>Louisiana Cooperative <br> Marine Fish Tagging Program</h3></div>
    </div>
  </div><!--END: container-->

</div><!--END: headerWrapper-->

  <% if @announcement %>
      <div style="background: #ce0000; color: white;position: relative;text-align: center;">
        <div style="padding: 16px; margin: auto;">
          <%= @announcement.html_safe %>
        </div>
      </div>
  <% end %>

<%= yield %>

<div id="footerWrapper">
  <div class="content">
    <a href="http://www.wlf.louisiana.gov/" target="_blank" onmouseover="MM_swapImage('imgLogoLWF','','/assets/imgLogoLWFO.png',1)" onmouseout="MM_swapImgRestore()">
      <img src="/assets/imgLogoLWF.png" alt="Louisiana Department of Wildlife &amp; Fisheries" name="imgLogoLWF" width="71" height="66" border="0" class="logoA" id="imgLogoLWF" />
    </a>
    <a href="http://www.ccalouisiana.com/cca11/" target="_blank" onmouseover="MM_swapImage('imgLogoCCA','','/assets/imgLogoCCAO.png',1)" onmouseout="MM_swapImgRestore()">
      <img src="/assets/imgLogoCCA.png" alt="Coastal Conservation Association" name="imgLogoCCA" width="78" height="66" border="0" class="logoB" id="imgLogoCCA" />
    </a>
    <span>
      <%= @_controller.get_contact_blurb.html_safe %>
    </span>
  </div>

  <div class="social-group pull-right">

    <a href="https://www.facebook.com/tag.louisiana" target="_blank">
      <i class="fa fa-facebook-square social-icon"></i>
    </a>
    <a href="http://www.twitter.com/#!/LDWF" target="_blank">
      <i class="fa fa-twitter social-icon"></i>
    </a>
    <a href="http://www.youtube.com/user/LAWildlifefish" target="_blank">
      <i class="fa fa-youtube social-icon"></i>
    </a>
    <a href="http://www.flickr.com/photos/ldwffisheries/" target="_blank">
      <i class="fa fa-flickr social-icon"></i>
    </a>

  </div>

  <div class="home">
  </div><!--END: home-->
</div><!--END: footerWrapper-->

<script>
  var base_url = '<%=  API_SERVER['base_url'] %>';
  var base_api_url = '<%= API_SERVER['address'] %>';
</script>

<script>
  <% if Rails.env.production? %>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-45547718-1', 'taglouisiana.com');
    ga('send', 'pageview');

  <% end %>
</script>
</body>
</html>
