<!DOCTYPE html>
<html>
<head>
  <title>Tag Louisiana</title>

  <link href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" >

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">

  <%= stylesheet_link_tag '//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css' %>

  <%= stylesheet_link_tag 'leaflet/leaflet-0.7.2' %>
  <%= stylesheet_link_tag 'leaflet/leaflet.label' %>

  <%= stylesheet_link_tag 'application-welcome' %>

  <!--jquery JS-->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>

  <%= javascript_include_tag 'jquery_ujs' %>
  <%= javascript_include_tag 'jquery/jquery.inputmask' %>
  <%= javascript_include_tag 'jquery/jquery.inputmask.extensions' %>

  <!--bootstrap JS-->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

  <!-- leaflet JS -->
  <%= javascript_include_tag 'leaflet/leaflet-0.8-dev-src' %>
  <%= javascript_include_tag 'leaflet/leaflet.label' %>

  <%= javascript_include_tag 'leaflet/QuadTree' %>
  <%= javascript_include_tag 'leaflet/heatmap' %>
  <%= javascript_include_tag 'leaflet/heatmap-leaflet-0.8-dev' %>
  <%= javascript_include_tag 'leaflet/esri-leaflet' %>


  <!--application JS-->
  <%= javascript_include_tag 'application-welcome' %>

  <%= csrf_meta_tags %>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <%= yield :head %>

</head>
<!--<body>-->
<body onload="MM_preloadImages('/assets/imgIconShareO.gif','/assets/imgIconFlickrO.gif','/assets/imgIconYouTubeO.gif','/assets/imgIconTwitterO.gif','/assets/imgIconFacebookO.gif','/assets/imgIconRssO.gif','/assets/imgIconPrintO.gif')">

<%#= render 'common/max_power_bar' %>
<%#= render 'common/min_power_bar' %>

<div id="headerWrapper">
  <div class="container home">
    <h1 class="pull-left"><a href="#">TAG LOUISIANA</a></h1>
    <h2>Louisiana Cooperative <br> Marine Fish Tagging Program</h2>
    <div id="topCircs" class="pull-right" >
      <%= image_tag 'homeLabels.png', :class => 'home-labels', :name => 'homeCircs', :usemap => '#homeMapping', :id => 'homeCircs' %>
      <!--<img src="/assets/imgHomeLabels.png" name="homeCircs" border="0" usemap="#homeMapping" id="homeCircs" />-->
      <map id="homeMapping" name="homeMapping">
        <area shape="circle" coords="76,88,60" href="/my_captures" onmouseover="MM_swapImage('homeCircs','','/assets/homeLabelsHoverTagger.png',1)" onmouseout="MM_swapImgRestore()">
        <area shape="circle" coords="312,79,61" href="/sign_up/new" onmouseover="MM_swapImage('homeCircs','','/assets/homeLabelsHoverSignUp.png',1)" onmouseout="MM_swapImgRestore()">
        <area shape="circle" coords="192,136,46" href="/non_registered_captures/new" onmouseover="MM_swapImage('homeCircs','','/assets/homeLabelsHoverCaught.png',1)" onmouseout="MM_swapImgRestore()">
      </map>
    </div>

    <!--<img src="/assets/phtHome.jpg" width="955" height="372" />-->
  </div><!--END: container-->

</div><!--END: headerWrapper-->

<% if @announcement  %>
  <div style="background: #ce0000; color: white;position: relative;text-align: center;">
    <div style="padding: 16px; margin: auto;">
      <%= @announcement.html_safe %>
    </div>
  </div>
<% end %>

<%= yield %>

<div id="footerWrapper">
  <div class="content">
    <a href="http://www.wlf.louisiana.gov/" target="_blank" onmouseover="MM_swapImage('imgLogoLWF','','/assets/imgLogoLWFO.png',1)" onmouseout="MM_swapImgRestore()">
      <img src="/assets/imgLogoLWF.png" alt="Louisiana Department of Wildlife &amp; Fisheries" name="imgLogoLWF" width="71" height="66" border="0" class="logoA" id="imgLogoLWF" />
    </a>
    <a href="http://www.ccalouisiana.com/cca11/" target="_blank" onmouseover="MM_swapImage('imgLogoCCA','','/assets/imgLogoCCAO.png',1)" onmouseout="MM_swapImgRestore()">
      <img src="/assets/imgLogoCCA.png" alt="Coastal Conservation Association" name="imgLogoCCA" width="78" height="66" border="0" class="logoB" id="imgLogoCCA" />
    </a>
    <span>
      <%= @blurb.html_safe %>
    </span>
  </div>

  <div class="social-group pull-right">

    <a href="https://www.facebook.com/tag.louisiana" target="_blank">
      <i class="fa fa-facebook-square social-icon"></i>
    </a>
    <a href="http://www.twitter.com/#!/LDWF" target="_blank">
      <i class="fa fa-twitter social-icon"></i>
    </a>
    <a href="http://www.youtube.com/user/LAWildlifefish" target="_blank">
      <i class="fa fa-youtube social-icon"></i>
    </a>
    <a href="http://www.flickr.com/photos/ldwffisheries/" target="_blank">
      <i class="fa fa-flickr social-icon"></i>
    </a>

  </div>

  <div class="home">
  </div><!--END: home-->
</div><!--END: footerWrapper-->


<script>
  var base_url = '<%=  API_SERVER['base_url'] %>';
  var base_api_url = '<%= API_SERVER['address'] %>';
</script>

<script>
    <% if Rails.env.production? %>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-45547718-1', 'taglouisiana.com');
    ga('send', 'pageview');

    <% end %>

</script>
</body>


</html>
